node-red/flows.json
[
    {
        "id": "1919d1c3.b05b5e",
        "type": "tab",
        "label": "Blog",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ecf7de04.053ad",
        "type": "subflow",
        "name": "Get Post(s)",
        "info": "This subflow selects post(s) from MySQL database. The blog postId given can be given in\nmsg.req.params.postId which results in a single post populating the msg.post object. If\nmsg.req.params.postId is not given the subflow will select all posts from the \nblog_posts table and populate msg.posts (note the 's' in posts). This subflow also\nincludes the partials subflow required to display site web pages.\n\n### Inputs\nInput is taken from msg.req.params.postId which assumes the subflow is called\nfrom a flow that received the post ID from an HTTP request.\n\nAs mentioned above, not given a post ID will select all posts from the blog_posts table.\n\n### Outputs\n  * msg.post\n    * The title, author, and body of the post ID requested\n        * Displays list of all blog posts\n  * msg.posts (optional)\n    * Array of all posts from database - if msg.req.params.postId not given\n  * msg.page\n    * The partials (navbar, footer, etc.) required of the site web pages.\n",
        "in": [
            {
                "x": 40,
                "y": 60,
                "wires": [
                    {
                        "id": "af333205.5c8b7"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 460,
                "y": 60,
                "wires": [
                    {
                        "id": "42a17f0c.4cdf3",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "c330e687.8faa28",
        "type": "subflow",
        "name": "Page Layout",
        "info": "This subflow places partials (navbar, footer, etc.) into *msg.pages*, which is used\nto provide the standard framework of the Blog web site pages.\n\n### Inputs\n  * No inputs expected\n\n### Outputs\n  * msg.page\n    * Header, Footer, etc for use by Mustache to inject in all Blog site pages.\n",
        "in": [
            {
                "x": 100,
                "y": 60,
                "wires": [
                    {
                        "id": "39a365bb.fe1cca"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 380,
                "y": 60,
                "wires": [
                    {
                        "id": "39a365bb.fe1cca",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "db4004be.1e9df8",
        "type": "subflow",
        "name": "Markup body",
        "info": "This subflow runs the text in msg.post.body through the \n[marked](https://www.npmjs.com/package/marked) Markdown package\nto convert Markdown markup into HTML.\n\n### Inputs\n  * msg.post.body\n    * Markdown text\n\n### Outputs\n  * msg.post.body\n    * HTML rendering of Markdown text\n",
        "in": [
            {
                "x": 40,
                "y": 60,
                "wires": [
                    {
                        "id": "3f224ba3.cd6284"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 800,
                "y": 60,
                "wires": [
                    {
                        "id": "927ce2ae.e1403",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "622e224a.092a2c",
        "type": "http in",
        "z": "1919d1c3.b05b5e",
        "name": "",
        "url": "/blog/:pages?",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "279a4bf0.c2da04"
            ]
        ]
    },
    {
        "id": "62001b80.f9eff4",
        "type": "debug",
        "z": "1919d1c3.b05b5e",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 250,
        "y": 120,
        "wires": []
    },
    {
        "id": "22dcf241.57619e",
        "type": "catch",
        "z": "1919d1c3.b05b5e",
        "name": "",
        "scope": null,
        "x": 120,
        "y": 120,
        "wires": [
            [
                "62001b80.f9eff4"
            ]
        ]
    },
    {
        "id": "929dc13b.226bc",
        "type": "template",
        "z": "1919d1c3.b05b5e",
        "name": "Blog home",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n\n<head>\n    <meta charset=\"utf-8\">\n    <title>Kim's Blog</title>\n    <script src=\"//code.jquery.com/jquery-1.12.4.js\"></script>\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css\">\n    {{{page.style}}}\n</head>\n\n<body>\n    <div class=\"container\">\n        {{{page.navbar}}}\n        <div class=\"page-header\">\n            <h2 style=\"padding:10px 0 0 0;\">Node-red flows a blog web server</h2>\n            <p class=\"lead\">Check out the {{#showpages}}pages{{/showpages}}{{^showpages}}posts{{/showpages}} below!</p>\n        </div>\n\n        <div class=\"row\">\n            <div class=\"col-lg-12\">\n                 <!-- loop over blog posts and render them -->\n                <div class=\"list-group\">\n                    {{#posts}}\n                        {{#showpages}}\n                            {{#webpage}}\n                            <a href=\"/posts/{{id}}\" class=\"list-group-item\">\n                              <h4 class=\"list-group-item-heading\" style=\"float: left;\">{{{marked.title}}}</h4>\n                              <p class=\"list-group-item-text\">&nbsp;{{{author}}} (<i>{{marked.lastupdated}}</i>)</p>\n                            </a>\n                            {{/webpage}}\n                        {{/showpages}}\n                        {{^showpages}}\n                            {{^webpage}}\n                            <a href=\"/posts/{{id}}\" class=\"list-group-item\">\n                              <h4 class=\"list-group-item-heading\" style=\"float: left;\">{{{marked.title}}}</h4>\n                              <p class=\"list-group-item-text\">&nbsp;{{{author}}} (<i>{{marked.lastupdated}}</i>)</p>\n                            </a>\n                            {{/webpage}}\n                        {{/showpages}}\n                    {{/posts}}\n                </div>\n            </div>\n        </div>\n        {{{page.footer}}}\n    </div>\n<script>\n    $(document).ready(function() {\n    });\n</script>\n</body>\n\n</html>",
        "output": "str",
        "x": 630,
        "y": 300,
        "wires": [
            [
                "aeeadf78.92729"
            ]
        ]
    },
    {
        "id": "aeeadf78.92729",
        "type": "http response",
        "z": "1919d1c3.b05b5e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 460,
        "wires": []
    },
    {
        "id": "3d58d4e5.5815ac",
        "type": "http in",
        "z": "1919d1c3.b05b5e",
        "name": "",
        "url": "/posts/:postId",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 500,
        "wires": [
            [
                "aab33934.9b48f8"
            ]
        ]
    },
    {
        "id": "5727c30d.8ed94c",
        "type": "template",
        "z": "1919d1c3.b05b5e",
        "name": "Display a post",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n\n<head>\n    <meta charset=\"utf-8\">\n    <title>{{post.title}} | Kim's Blog</title>\n    <script src=\"//code.jquery.com/jquery-1.12.4.js\"></script>\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"/highlight/styles/github.css\">\n    <style>\n        pre code {white-space: pre;overflow-x: auto;}\n    </style>\n    {{{page.style}}}\n</head>\n\n<body>\n    <div class=\"container\">\n        {{{page.navbar}}}\n        <dialog id=\"poc2go-navbar-delete-dialog\"> <p>Delete Post <strong>{{post.title}}</strong>?</p>\n            <button id=\"poc2go-navbar-delete-cancel\">No</button>&nbsp;<button id=\"poc2go-navbar-delete-ok\">Yes</button>\n        </dialog>\n            <h2>{{{post.marked.title}}}</h2>\n            by {{post.author}} (<i>{{post.marked.lastupdated}}</i>)\n            <div style=\"margin-top: 20px;\">{{{post.marked.body}}}</div>\n        {{{page.footer}}}\n    </div>\n<script>\n    $(document).ready(function() {\n        $('#poc2go-navbar-edit').removeClass(\"hidden\");\n        $('#poc2go-navbar-edit li:first a').attr( \"href\", \"/edit/{{post.id}}\");\n\n        $('#poc2go-navbar-delete').removeClass(\"hidden\");\n        \n        $('#poc2go-navbar-delete').click(function() {\n            var dialog = document.querySelector('#poc2go-navbar-delete-dialog');\n            dialog.show();\n        \n            document.querySelector('#poc2go-navbar-delete-cancel').onclick = function() {\n                dialog.close();\n            }; \n            document.querySelector('#poc2go-navbar-delete-ok').onclick = function() {\n                $.ajax({\n                    url: '/posts/{{post.id}}', method: 'DELETE',\n                    complete: function() {\n                        window.location = '/blog';\n                    }\n                });\n                dialog.close();\n            }; \n        });\n    });\n</script>\n</body>\n</html>\n",
        "output": "str",
        "x": 620,
        "y": 500,
        "wires": [
            [
                "aeeadf78.92729"
            ]
        ]
    },
    {
        "id": "279a4bf0.c2da04",
        "type": "subflow:ecf7de04.053ad",
        "z": "1919d1c3.b05b5e",
        "name": "",
        "x": 330,
        "y": 300,
        "wires": [
            [
                "929dc13b.226bc"
            ]
        ]
    },
    {
        "id": "aab33934.9b48f8",
        "type": "subflow:ecf7de04.053ad",
        "z": "1919d1c3.b05b5e",
        "name": "",
        "x": 450,
        "y": 500,
        "wires": [
            [
                "5727c30d.8ed94c"
            ]
        ]
    },
    {
        "id": "932f34c4.38e5b8",
        "type": "markdown",
        "z": "db4004be.1e9df8",
        "name": "Markdown the body",
        "x": 390,
        "y": 60,
        "wires": [
            [
                "927ce2ae.e1403"
            ]
        ]
    },
    {
        "id": "927ce2ae.e1403",
        "type": "change",
        "z": "db4004be.1e9df8",
        "name": "to msg.post.marked.body",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "post.marked.body",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "b7772184.1adac",
        "type": "http in",
        "z": "1919d1c3.b05b5e",
        "name": "",
        "url": "/credits",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "17552502.b2c11b"
            ]
        ]
    },
    {
        "id": "105262c9.69cf5d",
        "type": "template",
        "z": "1919d1c3.b05b5e",
        "name": "Site Credits",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n\n<head>\n    <meta charset=\"utf-8\">\n    <title>Kim's Blog</title>\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css\">\n    {{{page.style}}}\n</head>\n\n<body>\n    <div class=\"container\">\n        {{{page.navbar}}}\n        <div class=\"page-header\">\n            <h2 style=\"padding:10px 0 0 0;\">On the shoulders of giants</h2>\n            <p class=\"lead\">Kudo's to few of many developers and services below!</p>\n        </div>\n\n        <div class=\"row\">\n            <div class=\"col-lg-12\">\n                <!-- display the credits-->\n                <h4>Developers</h4>\n                <div class=\"list-group\">\n                    <a href=\"https://github.com/knolleary\" class=\"list-group-item\">\n                      <h4 class=\"list-group-item-heading\">Nick O'Leary</h4>\n                      <p class=\"list-group-item-text\">Node-Red maintainer</p>\n                    </a>\n                    <a href=\"https://github.com/dceejay\" class=\"list-group-item\">\n                      <h4 class=\"list-group-item-heading\">Dave Conway-Jones</h4>\n                      <p class=\"list-group-item-text\">Node-Red maintainer</p>\n                    </a>\n                    <a href=\"https://disqus.com/home/forums/coligo/\" class=\"list-group-item\">\n                      <h4 class=\"list-group-item-heading\">coligo</h4>\n                      <p class=\"list-group-item-text\">Site Design</p>\n                    </a>\n                    <a href=\"https://github.com/arnauorriols\" class=\"list-group-item\">\n                      <h4 class=\"list-group-item-heading\">Arnau Orriols</h4>\n                      <p class=\"list-group-item-text\">Markdown node-red node</p>\n                    </a>\n                    <a href=\"https://gist.github.com/duncansmart\" class=\"list-group-item\">\n                      <h4 class=\"list-group-item-heading\">Duncan Smart</h4>\n                      <p class=\"list-group-item-text\">Script to tun Ace editor in a textarea</p>\n                    </a>\n                </div>\n                <h4>Packages</h4>\n                <div class=\"list-group\">\n                    <a href=\"https://nodejs.org/en/\" class=\"list-group-item\">\n                      <h4 class=\"list-group-item-heading\">Node.js and npm</h4>\n                      <p class=\"list-group-item-text\">Server side javascript engine and package manager</p>\n                    </a>\n                    <a href=\"https://nodered.org/docs/\" class=\"list-group-item\">\n                      <h4 class=\"list-group-item-heading\">Node-RED</h4>\n                      <p class=\"list-group-item-text\">Site server</p>\n                    </a>\n                    <a href=\"https://mustache.github.io/mustache.5.html\" class=\"list-group-item\">\n                      <h4 class=\"list-group-item-heading\">Mustache Template Engine</h4>\n                      <p class=\"list-group-item-text\">Inject variable data into site pages</p>\n                    </a>\n                    <a href=\"https://daringfireball.net/projects/markdown/syntax\" class=\"list-group-item\">\n                      <h4 class=\"list-group-item-heading\">Markdown HTML markup</h4>\n                      <p class=\"list-group-item-text\">Convert Markdown text to HTML</p>\n                    </a>\n                </div>\n                <h4>Services</h4>\n                <div class=\"list-group\">\n                    <a href=\"https://c9.io/?redirect=0\" class=\"list-group-item\">\n                      <h4 class=\"list-group-item-heading\">Cloud9</h4>\n                      <p class=\"list-group-item-text\">Site host and IDE</p>\n                    </a>\n                </div>\n            </div>\n        </div>\n        {{{page.footer}}}\n    </div>\n</body>\n\n</html>",
        "output": "str",
        "x": 630,
        "y": 340,
        "wires": [
            [
                "aeeadf78.92729"
            ]
        ]
    },
    {
        "id": "a1f206a5.de5268",
        "type": "http in",
        "z": "1919d1c3.b05b5e",
        "name": "",
        "url": "/posts/:postId",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 580,
        "wires": [
            [
                "79767ce6.9a4494"
            ]
        ]
    },
    {
        "id": "baddb725.057108",
        "type": "http in",
        "z": "1919d1c3.b05b5e",
        "name": "",
        "url": "/edit/:postId",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 420,
        "wires": [
            [
                "29e3303d.7852b"
            ]
        ]
    },
    {
        "id": "29e3303d.7852b",
        "type": "subflow:ecf7de04.053ad",
        "z": "1919d1c3.b05b5e",
        "name": "",
        "x": 330,
        "y": 420,
        "wires": [
            [
                "78c9aed7.84fe7"
            ]
        ]
    },
    {
        "id": "78c9aed7.84fe7",
        "type": "template",
        "z": "1919d1c3.b05b5e",
        "name": "New/Edit a post page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n\n<head>\n    <meta charset=\"utf-8\">\n    <title>{{post.title}} | Kim's Blog</title>\n    <script src=\"//code.jquery.com/jquery-1.12.4.js\"></script>\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css\">\n    {{{page.style}}}\n</head>\n\n<body>\n    <div class=\"container\">\n        {{{page.navbar}}}\n        <div>\n            <form action=\"/posts/{{post.id}}\" method=\"post\" role=\"form\">\n                <input type=\"text\" class=\"hidden\" name=\"id\" id=\"inputId\" value=\"{{post.id}}\" placeholder=\"Id\">\n                <div class=\"form-group\">\n                    <label for=\"inputTitle\">Title</label>\n                    <input type=\"text\" class=\"form-control\" name=\"title\" id=\"inputTitle\" value=\"{{post.title}}\" placeholder=\"Title\">\n                </div>\n                <div class=\"form-group\">\n                    <label for=\"inputAuthor\">Author</label>\n                    <input type=\"text\" class=\"form-control\" name=\"author\" id=\"inputAuthor\" value=\"{{post.author}}\" placeholder=\"Author\">\n                    <label for=\"webpage\">Is a web page</label>\n                    <input type=\"checkbox\" class=\"\" name=\"webpage\" id=\"webpage\" value=\"yes\" {{#post.webpage}}checked{{/post.webpage}}>\n                </div>\n                <div class=\"form-group\">\n                    <label for=\"inputPost\">Post (can use <a href=\"https://daringfireball.net/projects/markdown/syntax\">Markdown</a>)</label>\n                    <textarea class=\"form-control\" rows=\"20\" name=\"body\" id=\"inputPost\" data-editor=\"markdown\">{{post.body}}</textarea>\n                </div>\n                <button type=\"submit\" class=\"btn btn-primary\">Submit</button>\n            </form>\n        </div>\n        {{{page.footer}}}\n    </div>\n<script src=\"//cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/ace.js\" type=\"text/javascript\" charset=\"utf-8\"></script>\n<script>\n    // Hook up ACE editor to all textareas with data-editor attribute\n    // https://gist.github.com/duncansmart/5267653\n    $(function () {\n        $('textarea[data-editor]').each(function () {\n            var textarea = $(this);\n            var mode = textarea.data('editor');\n            var editDiv = $('<div>', {\n                position: 'absolute',\n                width: textarea.width(),\n                height: textarea.height(),\n                'class': textarea.attr('class')\n            }).insertBefore(textarea);\n            textarea.css('display', 'none');\n            var editor = ace.edit(editDiv[0]);\n            editor.renderer.setShowGutter(true);\n            editor.getSession().setValue(textarea.val());\n            editor.getSession().setMode(\"ace/mode/\" + mode);\n            editor.getSession().setUseWrapMode(true);\n            // editor.setTheme(\"ace/theme/idle_fingers\");\n            \n            // copy back to textarea on form submit...\n            textarea.closest('form').submit(function () {\n                textarea.val(editor.getSession().getValue());\n            })\n        });\n    });\n</script>\n</body>\n<script>\n    $(document).ready(function() {\n    });\n</script>\n</html>\n",
        "output": "str",
        "x": 600,
        "y": 400,
        "wires": [
            [
                "aeeadf78.92729"
            ]
        ]
    },
    {
        "id": "af333205.5c8b7",
        "type": "function",
        "z": "ecf7de04.053ad",
        "name": "Select post data",
        "func": "global.get(\"db\").getPosts(msg);\nif (msg.req.params.pages && msg.req.params.pages === 'pages') {\n    msg.showpages = true;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 160,
        "y": 60,
        "wires": [
            [
                "42a17f0c.4cdf3"
            ]
        ]
    },
    {
        "id": "39a365bb.fe1cca",
        "type": "function",
        "z": "c330e687.8faa28",
        "name": "Partials",
        "func": "msg.page = {\n    style:\n    '<style>' + \n    '    body {padding-top: 10px; padding-bottom: 10px;background-color: aliceblue;}' + \n    '    .page-header {background-color: #e3f1ff}' + \n    '</style>',\n    navbar: \n    '<div class=\"header clearfix\"><nav>' +\n    '<h3 class=\"text-muted\">PotOfCoffee2Go\\'s Node-Red Blog</h3>' +\n    '<ul class=\"nav nav-pills pull-left\"><li role=\"presentation\"><a href=\"/blog\">Home</a></li></ul>' +\n    '<ul id=\"poc2go-navbar-new\" class=\"nav nav-pills pull-left\"><li role=\"presentation\"><a href=\"/new\">New</a></li></ul>' +\n    '<ul id=\"poc2go-navbar-edit\" class=\"nav nav-pills pull-left hidden\"><li role=\"presentation\"><a href=\"#\">Edit</a></li></ul>' +\n    '<ul id=\"poc2go-navbar-delete\" class=\"nav nav-pills pull-left hidden\"><li role=\"presentation\"><a href=\"#\">Delete</a></li></ul>' +\n    '<ul class=\"nav nav-pills pull-left\"><li role=\"presentation\"><a href=\"/credits\">Credits</a></li></ul>' +\n    '</nav>' +\n    '</div>',\n    footer:\n    '<hr><footer class=\"footer\"><p>&copy; 2017 Code Scullery, LLC.</p><p>License: <a href=\"/posts/8\">MIT</a></p></footer>'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "3f224ba3.cd6284",
        "type": "function",
        "z": "db4004be.1e9df8",
        "name": "Get post body",
        "func": "if (msg.post) {\n    msg.payload = msg.post.body;\n}\nelse {\n    msg.payload = '';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 180,
        "y": 60,
        "wires": [
            [
                "932f34c4.38e5b8"
            ]
        ]
    },
    {
        "id": "30bbbdb7.084d52",
        "type": "comment",
        "z": "1919d1c3.b05b5e",
        "name": "Display blog home page",
        "info": "This page uses the *Get Post(s)* subflow to get the posts from the blog_posts\nMySQL table. Since it does not pass the post ID in msg.req.params.postId,\n*Get Post(s)* returns all posts in _msg.posts_ object, which is passed onto\nthe _Blog Home_ web page template which uses Mustache to inject *msg.page* and\n*msg.posts* data into the page.\n\nThe web page is created using the standard node-red `template` node with\nMustache which injects the variable data.\n",
        "x": 860,
        "y": 300,
        "wires": []
    },
    {
        "id": "2974bc59.b8c574",
        "type": "comment",
        "z": "1919d1c3.b05b5e",
        "name": "Catch errors",
        "info": "",
        "x": 630,
        "y": 120,
        "wires": []
    },
    {
        "id": "91b241aa.7f339",
        "type": "http in",
        "z": "1919d1c3.b05b5e",
        "name": "",
        "url": "/new",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 380,
        "wires": [
            [
                "424b8e74.ff63b"
            ]
        ]
    },
    {
        "id": "424b8e74.ff63b",
        "type": "subflow:c330e687.8faa28",
        "z": "1919d1c3.b05b5e",
        "x": 330,
        "y": 380,
        "wires": [
            [
                "78c9aed7.84fe7"
            ]
        ]
    },
    {
        "id": "a40a085c.9360c8",
        "type": "http in",
        "z": "1919d1c3.b05b5e",
        "name": "",
        "url": "/posts",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "349e2593.e8ad0a"
            ]
        ]
    },
    {
        "id": "d3ef2df1.d45e9",
        "type": "comment",
        "z": "1919d1c3.b05b5e",
        "name": "Display page to edit an existing post",
        "info": "This page uses the *Get Post(s)* subflow to get the posts from the blog_posts\nMySQL table. Since it does pass the post ID in msg.req.params.postId,\nthus *Get Post(s)* subflow returns that post in _msg.post_ object, which is passed onto\nthe _Edit a post_ web page template which uses Mustache to inject *msg.page* and\nthe post *msg.post* data into the page.\n\nThe web page is created using the standard node-red `template` node with\nMustache which injects the variable data.\n",
        "x": 900,
        "y": 420,
        "wires": []
    },
    {
        "id": "2b152161.589c9e",
        "type": "comment",
        "z": "1919d1c3.b05b5e",
        "name": "Enter new post",
        "info": "This request inserts into the database _title_, _author_, _body_ that is given in\nthe body of the [post].\n\nThe database is then queried for the _id_ of the last record insert. That id is\nmoved to the msg.req.params.postId, then the _Display post page_ flow is used\nto display the blog post just inserted.",
        "x": 840,
        "y": 540,
        "wires": []
    },
    {
        "id": "46ccfb82.b9cce4",
        "type": "comment",
        "z": "1919d1c3.b05b5e",
        "name": "Display page to create a new post",
        "info": "This page uses the *Page Layout* subflow to add the site standard\nheader, navbar, footer, etc.\n\nThe web page is created using the standard node-red `template` node with\nMustache which injects the variable data.\n",
        "x": 900,
        "y": 380,
        "wires": []
    },
    {
        "id": "da354b2c.2504c8",
        "type": "comment",
        "z": "1919d1c3.b05b5e",
        "name": "Display a post page",
        "info": "This page uses the *Get Post(s)* subflow to get the posts from the blog_posts\nMySQL table. It has the post ID in msg.req.params.postId thus *Get Post(s)*\nsubflow returns that post in _msg.post_ object, which is passed onto\nthe _Edit a post_ web page template which uses Mustache to inject *msg.page* and\nthe post *msg.post* data into the page.\n\nIt also uses the Markup body subflow which takes the text from the body of the\npost and runs it through the *marked* package to markup the body from Markdown\ntext to HTML.\n\nThe web page is created using the standard node-red `template` node with\nMustache which injects the variable data.\n",
        "x": 850,
        "y": 500,
        "wires": []
    },
    {
        "id": "15c8de46.8c9ac2",
        "type": "comment",
        "z": "1919d1c3.b05b5e",
        "name": "Update existing post",
        "info": "This request updates the blog post of the postId given in the request URL. The\n_title_, _author_, _body_ that is given in the body (payload) of the [post]\noverwrites the existing blog post.\n\nThe _Display post page_ flow is used to display the blog post just updated.\n",
        "x": 850,
        "y": 580,
        "wires": []
    },
    {
        "id": "e517077b.5fbb78",
        "type": "comment",
        "z": "1919d1c3.b05b5e",
        "name": "Display credits page",
        "info": "This page is a simple page that uses the *Page Layout* subflow to add the\nsite standard header, navbar, footer, etc.\n\nThe web page is created using the standard node-red `template` node with\nMustache which injects the variable data.\n",
        "x": 850,
        "y": 340,
        "wires": []
    },
    {
        "id": "b26ba750.4dcd58",
        "type": "comment",
        "z": "1919d1c3.b05b5e",
        "name": "Blog Site",
        "info": "There are five [get] pages and two [post] processes to run the blog site.\n\nThe home page displays links to the list of posts, credits page of kudos, and the \ndisplay/creation/editing of blog posts.\n\nThe HTTP [post] requests update the database\nand then display the appropriate **blog post** page.\n\n*Note:* Some confusion can happen between the HTTP method **[post]** and a **blog _post_**. In\nnode descriptions and documentation the **HTTP _[get]_ **and** _[post]_ ** methods are encloded in square-brackets [].\n\n### Inputs\nInputs are in the form of HTTP requests. Where appropriate the post ID is passed as a parameter\nin the request to get the post information from the database.\n\n### Outputs\n  * HTML pages\n    * Blog Home\n        * Displays list of all blog posts\n    * Create new post\n        * Edit page '/edit' without a post ID\n    * Edit existing post\n        * Edit page given a post ID\n            * '/edit/:postId'\n    * Blog Credits page\n        * Thanks crediting developers, packages, and services\n    * Post page\n        * Displays the title, author, and body of a post\n\n\n  * Processes (see _Blog Site Processes_ comment for more details)\n    * [Post] '/post'\n        * Insert new blog post into database\n        * Return page that displays that post\n    * [Post] '/post/:postId'\n        * Update existing blog post on database \n        * Return page that displays updated post\n",
        "x": 120,
        "y": 260,
        "wires": []
    },
    {
        "id": "42a17f0c.4cdf3",
        "type": "subflow:c330e687.8faa28",
        "z": "ecf7de04.053ad",
        "name": "",
        "x": 350,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "dde0cb9c.ff6f08",
        "type": "comment",
        "z": "c330e687.8faa28",
        "name": "Set standard HTML that is on all pages (navbar, footer, etc.)",
        "info": "",
        "x": 250,
        "y": 20,
        "wires": []
    },
    {
        "id": "678b860a.4f9068",
        "type": "comment",
        "z": "ecf7de04.053ad",
        "name": "Get post data from database and setup for page display",
        "info": "",
        "x": 300,
        "y": 20,
        "wires": []
    },
    {
        "id": "f49500eb.014f2",
        "type": "comment",
        "z": "db4004be.1e9df8",
        "name": "HTML markup of the Markdown text that is in the post body",
        "info": "",
        "x": 390,
        "y": 20,
        "wires": []
    },
    {
        "id": "17552502.b2c11b",
        "type": "subflow:c330e687.8faa28",
        "z": "1919d1c3.b05b5e",
        "x": 330,
        "y": 340,
        "wires": [
            [
                "105262c9.69cf5d"
            ]
        ]
    },
    {
        "id": "e1619090.d49fa",
        "type": "comment",
        "z": "1919d1c3.b05b5e",
        "name": "Click on comments and look at the  INFO tab of the side bar for handy info",
        "info": "",
        "x": 420,
        "y": 20,
        "wires": []
    },
    {
        "id": "992ad918.d7b9f8",
        "type": "comment",
        "z": "1919d1c3.b05b5e",
        "name": "Blog Site Pages",
        "info": "There are four pages in the Blog site. Create and Edit a blog post use the same web page.\n\nThe home page displays links to the list of posts, credits page of kudos, and the \ndisplay/creation/editing of blog posts.\n\n### Inputs\nInputs are in the form of HTTP requests. Where appropriate the post ID is passed as a parameter\nin the request to get the post information from the database.\n\n### Outputs\n  * HTML pages\n    * Blog Home\n        * Displays list of all blog posts\n    * Create new post\n        * Edit page '/edit' without a post ID\n    * Edit existing post\n        * Edit page given a post ID\n            * '/edit/:postId'\n    * Blog Credits page\n        * Thanks crediting developers, packages, and services\n    * Post page\n        * Displays the title, author, and body of a post\n\n### Details\nThe pages use Mustache to inject HTML header, footer, etc. into each page\nfrom the *msg.page* object. All pages but the Credits page access the \ndatabase to get the data to inject into the pages.\n\nThe Credits page is the simplest of all the pages.",
        "x": 620,
        "y": 260,
        "wires": []
    },
    {
        "id": "eecce4f9.c593f8",
        "type": "comment",
        "z": "1919d1c3.b05b5e",
        "name": "About subflows",
        "info": "Node-RED subflows provide important features for the Blog site.\n\n### Simplify flow wiring\nNo matter how complex a subflow is, it appears as a single node with-in the flow \nthat is using it. Subflows assist in simplifing wiring flow diagrams of complex\nsystems.\n\n### Re-use of common processes\nA subflow can be designed to handle a common re-usable process. It is not unusual to have\nthe same flow to be used numerous times while building higher level flows\nof an application.\n\nSubflows can also have nodes which check for [edge](https://en.wikipedia.org/wiki/Edge_case)\ncases and re-direct what nodes with-in the subflow that will be executed for that specific\nedge case. The high level flows which use the subflow are oblivious to the underlying\ndetails in handling the process - as long as the subflow returns the expected result.\n\n### Common code base\nBy placing a function, template, or node into a subflow, changes to those nodes\ntake effect for all higher level flows that use that subflow.\n\nBy changing a subflow, that modified code will immediately effect\nall flows that use that subflow. Thus any change in a single node with-in the\nsubflow will change it everywhere the subflow is used.\n\n*For example:* the blog _Page Layout_ subflow contains the content that will be inserted\n(by Mustache) into all web pages. By making a change (let's say the site name) in\nthe _Page Layout_ subflow, all higher level flows that use the subflow will now\nreflect that name change.\n\n*Note:* For Mustache - In template lingo this is called **partials**. Node-RED does\nnot implement the 'partial' system defined by Mustache, but this can be easly simulated\nby placing the style, header, footer, etc. HTML markup in the message being passed to nodes.\nIn our case, the _Page Layout_ subflow puts the HTML code into the **msg.page** object\nwhich is passed from node to node.\n\n### Subflows can use other subflows\nA subflow can use other subflows. This feature allows multi-level encapsulation of tasks.\nWhen designing and building subflows consider making the subflow as generic as possible \n(ie: data based).",
        "x": 460,
        "y": 60,
        "wires": []
    },
    {
        "id": "4aa6b9c3.d62ab8",
        "type": "comment",
        "z": "1919d1c3.b05b5e",
        "name": "Flow/Dataflow based programming",
        "info": "Node-Red is a high level,\n[flow based](https://en.wikipedia.org/wiki/Flow-based_programming) programming\nlanguage. It is used to describe\n[dataflow](https://en.wikipedia.org/wiki/Dataflow_programming) movement between\nindependent synchronous and asynchronous processes.\n\nEach node-red procedure is called a `flow`. Flows are created from one or\nmore discreet processes called `nodes` which can have none, one, or more input/output\n`ports`. The transmission of data consist of `wires` between ports which\ndetermine the path of `msg` javascript data objects.\n\nProgramming applications in node-red is performed via a graphical interface \ncalled the `Editor`. The Editor is divided into three panels named `Palette`,\n`Flows`, and `Sidebar`. The Palette panel contains the nodes available to the\napplication, the Flows panel is where nodes are configured and wired into flows,\nwhile Sidebar _tabs_ display documentation and debug information.\n\nEditor options for the panels is in the menu in the upper-right hand side of the\ninterface.\n\nThe Palette contains the list of the nodes that have been installed and enabled\nfor use by the application. Under the menu\n\n\n\n\nFor the most part `ports` are transparent to the programming of a flow.\nThey depict are the endpoints used to wire nodes together.\nThey\nrepresent if the node accepts an input or output `wire`. *For example:*\nIf a node does not have an input port - then\n\n### Applications\n\nApplications are built up based upon one or more `flows`. Regardless of the\ncomplexity of the application, the processing and flow of data is controlled\nby using these three fundamental objects, `node`, `port`, and `wire`.\n\n\nTo start the processing\nof a flow requires some type of _input_ trigger. Most input nodes do not have an\nin bound port. Node-red provides a set of default\ninput triggers. nodes are called _input_\nis \n\n\n\n\n\n\n\n\n\n",
        "x": 200,
        "y": 60,
        "wires": []
    },
    {
        "id": "79767ce6.9a4494",
        "type": "function",
        "z": "1919d1c3.b05b5e",
        "name": "Update post",
        "func": "global.get(\"db\").updatePost(msg);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 580,
        "wires": [
            [
                "aab33934.9b48f8"
            ]
        ]
    },
    {
        "id": "349e2593.e8ad0a",
        "type": "function",
        "z": "1919d1c3.b05b5e",
        "name": "New post",
        "func": "global.get(\"db\").newPost(msg);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 540,
        "wires": [
            [
                "aab33934.9b48f8"
            ]
        ]
    },
    {
        "id": "744f7a79.882a04",
        "type": "http in",
        "z": "1919d1c3.b05b5e",
        "name": "",
        "url": "/v1/posts",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 740,
        "wires": [
            [
                "adebde67.4d553"
            ]
        ]
    },
    {
        "id": "adebde67.4d553",
        "type": "subflow:ecf7de04.053ad",
        "z": "1919d1c3.b05b5e",
        "name": "",
        "x": 450,
        "y": 740,
        "wires": [
            [
                "c562bb0f.e76b38"
            ]
        ]
    },
    {
        "id": "c562bb0f.e76b38",
        "type": "function",
        "z": "1919d1c3.b05b5e",
        "name": "Load payload",
        "func": "if (msg.posts) {\n    msg.payload = msg.posts;\n}\nelse {\n    msg.payload = msg.post;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 740,
        "wires": [
            [
                "dc712e9a.41665"
            ]
        ]
    },
    {
        "id": "dc712e9a.41665",
        "type": "http response",
        "z": "1919d1c3.b05b5e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 740,
        "wires": []
    },
    {
        "id": "d5114258.ca0f5",
        "type": "http in",
        "z": "1919d1c3.b05b5e",
        "name": "",
        "url": "/v1/posts/:postId",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 780,
        "wires": [
            [
                "adebde67.4d553"
            ]
        ]
    },
    {
        "id": "227ead5c.b2cfd2",
        "type": "function",
        "z": "1919d1c3.b05b5e",
        "name": "New post",
        "func": "global.get(\"db\").newPost(msg);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 820,
        "wires": [
            [
                "adebde67.4d553"
            ]
        ]
    },
    {
        "id": "738437df.88d9a8",
        "type": "http in",
        "z": "1919d1c3.b05b5e",
        "name": "",
        "url": "/v1/posts",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 820,
        "wires": [
            [
                "227ead5c.b2cfd2"
            ]
        ]
    },
    {
        "id": "868e1c15.52573",
        "type": "function",
        "z": "1919d1c3.b05b5e",
        "name": "Update post",
        "func": "global.get(\"db\").updatePost(msg);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 860,
        "wires": [
            [
                "adebde67.4d553"
            ]
        ]
    },
    {
        "id": "e6bbdb2e.ec8ee8",
        "type": "http in",
        "z": "1919d1c3.b05b5e",
        "name": "",
        "url": "/v1/posts/:postId",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 860,
        "wires": [
            [
                "868e1c15.52573"
            ]
        ]
    },
    {
        "id": "456d083f.9647c8",
        "type": "sample",
        "z": "1919d1c3.b05b5e",
        "name": "",
        "topic": "Hi from sample",
        "x": 280,
        "y": 180,
        "wires": [
            [
                "bf836995.16db08"
            ]
        ]
    },
    {
        "id": "bf836995.16db08",
        "type": "debug",
        "z": "1919d1c3.b05b5e",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 450,
        "y": 180,
        "wires": []
    },
    {
        "id": "b14526a3.2e9168",
        "type": "inject",
        "z": "1919d1c3.b05b5e",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 120,
        "y": 180,
        "wires": [
            [
                "456d083f.9647c8"
            ]
        ]
    },
    {
        "id": "f3b6bf34.0cb88",
        "type": "comment",
        "z": "1919d1c3.b05b5e",
        "name": "Custom Node",
        "info": "",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "c6e29370.87e41",
        "type": "comment",
        "z": "1919d1c3.b05b5e",
        "name": "Blog site REST endpoints",
        "info": "",
        "x": 170,
        "y": 700,
        "wires": []
    },
    {
        "id": "8e8911d1.bc9f9",
        "type": "comment",
        "z": "1919d1c3.b05b5e",
        "name": "Submit new blog post",
        "info": "",
        "x": 860,
        "y": 820,
        "wires": []
    },
    {
        "id": "54eb67b7.bb2458",
        "type": "comment",
        "z": "1919d1c3.b05b5e",
        "name": "Update blog post",
        "info": "",
        "x": 840,
        "y": 860,
        "wires": []
    },
    {
        "id": "47f094f6.8cd50c",
        "type": "comment",
        "z": "1919d1c3.b05b5e",
        "name": "Get all or single post",
        "info": "",
        "x": 850,
        "y": 780,
        "wires": []
    },
    {
        "id": "3a4a2ddd.066892",
        "type": "comment",
        "z": "1919d1c3.b05b5e",
        "name": "About the blog database",
        "info": "",
        "x": 710,
        "y": 60,
        "wires": []
    },
    {
        "id": "824e0884.c84868",
        "type": "http in",
        "z": "1919d1c3.b05b5e",
        "name": "",
        "url": "/posts/:postId",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 620,
        "wires": [
            [
                "9ca1a70b.525be8"
            ]
        ]
    },
    {
        "id": "9ca1a70b.525be8",
        "type": "function",
        "z": "1919d1c3.b05b5e",
        "name": "Delete post",
        "func": "global.get(\"db\").deletePost(msg);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 620,
        "wires": [
            [
                "7622e6c3.bfcf68"
            ]
        ]
    },
    {
        "id": "76a39001.b3bd8",
        "type": "comment",
        "z": "1919d1c3.b05b5e",
        "name": "Delete existing post",
        "info": "This request updates the blog post of the postId given in the request URL. The\n_title_, _author_, _body_ that is given in the body (payload) of the [post]\noverwrites the existing blog post.\n\nThe _Display post page_ flow is used to display the blog post just updated.\n",
        "x": 850,
        "y": 620,
        "wires": []
    },
    {
        "id": "7622e6c3.bfcf68",
        "type": "function",
        "z": "1919d1c3.b05b5e",
        "name": "Result",
        "func": "if (msg.payload && msg.payload.id)\n   msg.payload.result = 'success';\nelse {\n   msg.payload = {result: 'failed'};\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 620,
        "wires": [
            [
                "aeeadf78.92729"
            ]
        ]
    }
]