node-red/flows.json
[
    {
        "id": "3082454d.fb9b3a",
        "type": "tab",
        "label": "Builder Site",
        "disabled": false,
        "info": ""
    },
    {
        "id": "288944c7.a1ceec",
        "type": "tab",
        "label": "Casual Site",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8c3ec654.d10248",
        "type": "tab",
        "label": "REST interface",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1919d1c3.b05b5e",
        "type": "tab",
        "label": "Sandbox",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f7bd7a0f.809288",
        "type": "subflow",
        "name": "Common",
        "info": "",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "e4f4d75f.92fcc8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 700,
                "y": 40,
                "wires": [
                    {
                        "id": "1f95ac9b.e3c9a3",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "ecf7de04.053ad",
        "type": "subflow",
        "name": "Get post(s)",
        "info": "This subflow selects post(s) from MySQL database. The blog postId given can be given in\nmsg.req.params.postId which results in a single post populating the msg.post object. If\nmsg.req.params.postId is not given the subflow will select all posts from the \nblog_posts table and populate msg.posts (note the 's' in posts). This subflow also\nincludes the partials subflow required to display site web pages.\n\n### Inputs\nInput is taken from msg.req.params.postId which assumes the subflow is called\nfrom a flow that received the post ID from an HTTP request.\n\nAs mentioned above, not given a post ID will select all posts from the blog_posts table.\n\n### Outputs\n  * msg.post\n    * The title, author, and body of the post ID requested\n        * Displays list of all blog posts\n  * msg.posts (optional)\n    * Array of all posts from database - if msg.req.params.postId not given\n  * msg.page\n    * The partials (navbar, footer, etc.) required of the site web pages.\n",
        "in": [
            {
                "x": 40,
                "y": 120,
                "wires": [
                    {
                        "id": "af333205.5c8b7"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 970,
                "y": 120,
                "wires": [
                    {
                        "id": "42a17f0c.4cdf3",
                        "port": 0
                    },
                    {
                        "id": "45c1c9e.ebf1138",
                        "port": "1"
                    },
                    {
                        "id": "2a59651e.71538a",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "c330e687.8faa28",
        "type": "subflow",
        "name": "Builder Theme",
        "info": "This subflow places partials (navbar, footer, etc.) into *msg.pages*, which is used\nto provide the standard framework of the Blog web site pages.\n\n### Inputs\n  * No inputs expected\n\n### Outputs\n  * msg.page\n    * Header, Footer, etc for use by Mustache to inject in all Blog site pages.\n",
        "in": [
            {
                "x": 40,
                "y": 60,
                "wires": [
                    {
                        "id": "507cef60.e300e"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 600,
                "y": 300,
                "wires": [
                    {
                        "id": "5938410e.bcfcb",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "99dcc10f.77084",
        "type": "subflow",
        "name": "Casual Theme",
        "info": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "79f3ef08.40054"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 600,
                "y": 320,
                "wires": [
                    {
                        "id": "c5755d9f.f2cb",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "e4f4d75f.92fcc8",
        "type": "function",
        "z": "f7bd7a0f.809288",
        "name": "Config",
        "func": "msg.config = {\n    builder: {\n        sitename: \"PotOfCoffee2Go's Node-Red Blog\",\n        copyright: '2017- Code Scullery'\n    },\n    casual: {\n        sitename: \"PotOfCoffee2Go goes Casual\",\n        sitesubname: \"1111 Somewhere Street | Somewhere, CA 12345 | (123) 456-7890\",\n        copyright: '2017- PotOfCoffee2Go',\n        carousel1post: 'from-the-bottom',\n        carousel2post: 'casual-second-slide',\n        carousel3post: 'casual-third-slide'\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 150,
        "y": 40,
        "wires": [
            [
                "37c89d3.b0a0062"
            ]
        ]
    },
    {
        "id": "af333205.5c8b7",
        "type": "function",
        "z": "ecf7de04.053ad",
        "name": "Select post data",
        "func": "global.get(\"db\").getPosts(msg);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 180,
        "y": 120,
        "wires": [
            [
                "a42ae250.031f9"
            ]
        ]
    },
    {
        "id": "42a17f0c.4cdf3",
        "type": "subflow:c330e687.8faa28",
        "z": "ecf7de04.053ad",
        "name": "",
        "x": 780,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "dde0cb9c.ff6f08",
        "type": "comment",
        "z": "c330e687.8faa28",
        "name": "Set standard HTML that is on web pages (styles, navigation, footer, etc.)",
        "info": "",
        "x": 330,
        "y": 20,
        "wires": []
    },
    {
        "id": "678b860a.4f9068",
        "type": "comment",
        "z": "ecf7de04.053ad",
        "name": "Get post data from database and setup for page display",
        "info": "",
        "x": 580,
        "y": 20,
        "wires": []
    },
    {
        "id": "e1619090.d49fa",
        "type": "comment",
        "z": "1919d1c3.b05b5e",
        "name": "Click on comments and look at the  INFO tab of the side bar for handy info",
        "info": "",
        "x": 420,
        "y": 20,
        "wires": []
    },
    {
        "id": "eecce4f9.c593f8",
        "type": "comment",
        "z": "1919d1c3.b05b5e",
        "name": "About subflows",
        "info": "Node-RED subflows provide important features for the Blog site.\n\n### Simplify flow wiring\nNo matter how complex a subflow is, it appears as a single node with-in the flow \nthat is using it. Subflows assist in simplifing wiring flow diagrams of complex\nsystems.\n\n### Re-use of common processes\nA subflow can be designed to handle a common re-usable process. It is not unusual to have\nthe same flow to be used numerous times while building higher level flows\nof an application.\n\nSubflows can also have nodes which check for [edge](https://en.wikipedia.org/wiki/Edge_case)\ncases and re-direct what nodes with-in the subflow that will be executed for that specific\nedge case. The high level flows which use the subflow are oblivious to the underlying\ndetails in handling the process - as long as the subflow returns the expected result.\n\n### Common code base\nBy placing a function, template, or node into a subflow, changes to those nodes\ntake effect for all higher level flows that use that subflow.\n\nBy changing a subflow, that modified code will immediately effect\nall flows that use that subflow. Thus any change in a single node with-in the\nsubflow will change it everywhere the subflow is used.\n\n*For example:* the blog _Page Layout_ subflow contains the content that will be inserted\n(by Mustache) into all web pages. By making a change (let's say the site name) in\nthe _Page Layout_ subflow, all higher level flows that use the subflow will now\nreflect that name change.\n\n*Note:* For Mustache - In template lingo this is called **partials**. Node-RED does\nnot implement the 'partial' system defined by Mustache, but this can be easly simulated\nby placing the style, header, footer, etc. HTML markup in the message being passed to nodes.\nIn our case, the _Page Layout_ subflow puts the HTML code into the **msg.page** object\nwhich is passed from node to node.\n\n### Subflows can use other subflows\nA subflow can use other subflows. This feature allows multi-level encapsulation of tasks.\nWhen designing and building subflows consider making the subflow as generic as possible \n(ie: data based).",
        "x": 460,
        "y": 60,
        "wires": []
    },
    {
        "id": "4aa6b9c3.d62ab8",
        "type": "comment",
        "z": "1919d1c3.b05b5e",
        "name": "Flow/Dataflow based programming",
        "info": "Node-Red is a high level,\n[flow based](https://en.wikipedia.org/wiki/Flow-based_programming) programming\nlanguage. It is used to describe\n[dataflow](https://en.wikipedia.org/wiki/Dataflow_programming) movement between\nindependent synchronous and asynchronous processes.\n\nEach node-red procedure is called a `flow`. Flows are created from one or\nmore discreet processes called `nodes` which can have none, one, or more input/output\n`ports`. The transmission of data consist of `wires` between ports which\ndetermine the path of `msg` javascript data objects.\n\nProgramming applications in node-red is performed via a graphical interface \ncalled the `Editor`. The Editor is divided into three panels named `Palette`,\n`Flows`, and `Sidebar`. The Palette panel contains the nodes available to the\napplication, the Flows panel is where nodes are configured and wired into flows,\nwhile Sidebar _tabs_ display documentation and debug information.\n\nEditor options for the panels is in the menu in the upper-right hand side of the\ninterface.\n\nThe Palette contains the list of the nodes that have been installed and enabled\nfor use by the application. Under the menu\n\n\n\n\nFor the most part `ports` are transparent to the programming of a flow.\nThey depict are the endpoints used to wire nodes together.\nThey\nrepresent if the node accepts an input or output `wire`. *For example:*\nIf a node does not have an input port - then\n\n### Applications\n\nApplications are built up based upon one or more `flows`. Regardless of the\ncomplexity of the application, the processing and flow of data is controlled\nby using these three fundamental objects, `node`, `port`, and `wire`.\n\n\nTo start the processing\nof a flow requires some type of _input_ trigger. Most input nodes do not have an\nin bound port. Node-red provides a set of default\ninput triggers. nodes are called _input_\nis \n\n\n\n\n\n\n\n\n\n",
        "x": 200,
        "y": 60,
        "wires": []
    },
    {
        "id": "456d083f.9647c8",
        "type": "sample",
        "z": "1919d1c3.b05b5e",
        "name": "",
        "topic": "Hi from sample",
        "x": 300,
        "y": 120,
        "wires": [
            [
                "bf836995.16db08"
            ]
        ]
    },
    {
        "id": "bf836995.16db08",
        "type": "debug",
        "z": "1919d1c3.b05b5e",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 470,
        "y": 120,
        "wires": []
    },
    {
        "id": "b14526a3.2e9168",
        "type": "inject",
        "z": "1919d1c3.b05b5e",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140,
        "y": 120,
        "wires": [
            [
                "456d083f.9647c8"
            ]
        ]
    },
    {
        "id": "f3b6bf34.0cb88",
        "type": "comment",
        "z": "1919d1c3.b05b5e",
        "name": "Custom Node",
        "info": "",
        "x": 650,
        "y": 120,
        "wires": []
    },
    {
        "id": "3a4a2ddd.066892",
        "type": "comment",
        "z": "1919d1c3.b05b5e",
        "name": "About the blog database",
        "info": "",
        "x": 710,
        "y": 60,
        "wires": []
    },
    {
        "id": "fce1758a.f94ba8",
        "type": "http in",
        "z": "3082454d.fb9b3a",
        "name": "",
        "url": "/build/site",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 100,
        "wires": [
            [
                "45652580.f4e51c"
            ]
        ]
    },
    {
        "id": "63d13b18.af47b4",
        "type": "template",
        "z": "3082454d.fb9b3a",
        "name": "Home page view",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n\n<head>\n    {{{page.head}}}\n    {{{page.style}}}\n    <title>Poc2go Builder</title>\n</head>\n\n<body>\n    <div id=\"wrapper\">\n        {{{page.sidebar}}}\n\n        <!-- Page Content -->\n        <div id=\"page-content-wrapper\">\n            <div class=\"container-fluid\">\n                <div class=\"container\">\n                    {{{page.header}}}\n                    {{{page.navbar}}}\n                    <div class=\"page-header\">\n                        <h2 style=\"padding:10px 0 0 0;\">Node-red flows a web server</h2>\n                        <p class=\"lead\">Check out the {{#showpages}}pages{{/showpages}}{{^showpages}}posts{{/showpages}} below!</p>\n                    </div>\n            \n                    <div class=\"row\">\n                        <div class=\"col-lg-12\">\n                             <!-- loop over blog posts and render them -->\n                            <div class=\"list-group\">\n                                {{#posts}}\n                                    <a href=\"/build/posts/{{slug}}{{^slug}}{{id}}{{/slug}}\" class=\"list-group-item\">\n                                      {{#webpage}}<img align=\"left\" src=\"../images/post.png\" width=\"16px\">{{/webpage}}\n                                      <h4 class=\"list-group-item-heading post-title\" style=\"float: left;\">{{{title}}}</h4>\n                                      <p class=\"list-group-item-text\">\n                                            &nbsp;{{{author}}} (<i class=\"post-updated\">{{updated}}</i>)\n                                      </p>\n                                    </a>\n                                {{/posts}}\n                            </div>\n                        </div>\n                    </div>\n                    {{{page.footer}}}\n                </div>\n            </div>\n        </div>\n    </div>\n    <!-- /#wrapper -->\n\n{{{page.vendors}}}{{{page.functions}}}{{{page.scripts}}}\n\n    <script>\n    $(function () {\n        $('.post-title').each(function(idx) {\n           var text =  $(this).html();\n            $(this).html(poc2go.render(text));\n        });\n        $('.post-updated').each(function(idx) {\n           var text =  $(this).html();\n            $(this).html(moment.utc(text, 'YYYY-MM-DD HH:mm:ss').local().fromNow());\n        });\n        \n        setTimeout(function(){$(\"#wrapper\").toggleClass(\"toggled\");}, 250);\n    });\n\n    </script>\n</body>\n\n</html>",
        "output": "str",
        "x": 610,
        "y": 100,
        "wires": [
            [
                "dc8d1969.d2e888"
            ]
        ]
    },
    {
        "id": "dc8d1969.d2e888",
        "type": "http response",
        "z": "3082454d.fb9b3a",
        "name": "http response",
        "statusCode": "",
        "headers": {},
        "x": 860,
        "y": 180,
        "wires": []
    },
    {
        "id": "45984dd5.7944b4",
        "type": "http in",
        "z": "3082454d.fb9b3a",
        "name": "",
        "url": "/build/posts/:postId",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "8c4ad8db.a73178"
            ]
        ]
    },
    {
        "id": "cb5b1e36.1b9dd",
        "type": "template",
        "z": "3082454d.fb9b3a",
        "name": "Display post view",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n\n<head>\n    {{{page.head}}}\n    {{{page.style}}}\n    <title id=\"page-title\"></title>\n</head>\n\n<body>\n    <div id=\"wrapper\">\n        {{{page.sidebar}}}\n        <!-- Page Content -->\n        <div id=\"page-content-wrapper\">\n            <div class=\"container-fluid\">\n                <div class=\"container\">\n                    <!-- Make page display smoothly - so do not display until page has been built by the browser -->\n                    <div id=\"poc2go-page\" style=\"display: none;\">\n                        {{{page.header}}}\n                        {{{page.navbar}}}\n                            {{#post}}\n                                <h2 id=\"showdown-title\"></h2>\n                                Post (<a href=\"/posts/{{post.id}}\">{{post.id}}</a>) by {{post.author}} updated (<i id=\"last-updated\"></i>)\n                                <hr>\n                                <div id=\"showdown-body\" class=\"hidden\" style=\"margin-top: 20px;\"></div>\n                                <hr>\n                                <div>\n                                    {{#post.comments}}\n                                        {{author}} ( commented {{{marked.lastupdated}}} )<br>{{{marked.body}}}<hr>\n                                    {{/post.comments}}\n                                </div>\n            \t\t\t        <div>\n            \t\t\t            <h6>Your comments are appreciated</h6>\n            \t\t\t            <form id=\"commentForm\" action=\"/build/posts/{{post.slug}}/comments\" method=\"post\" role=\"form\">\n            \t\t\t                <input type=\"hidden\" name=\"id\" id=\"inputId\" value=\"{{post.id}}\" placeholder=\"Id\">\n            \t\t\t                <input type=\"hidden\" name=\"approved\" id=\"inputApproved\" value=\"false\" placeholder=\"Approved\">\n            \t\t\t                <div class=\"form-group\">\n            \t\t\t                    <label for=\"inputAuthor\">Name</label>\n            \t\t\t                    <input type=\"text\" class=\"form-control\" name=\"author\" id=\"inputAuthor\" value=\"\" placeholder=\"Author\">\n            \t\t\t                    <label for=\"inputEmail\">Email (optional)</label>\n            \t\t\t                    <input type=\"text\" class=\"form-control\" name=\"email\" id=\"inputEmail\" value=\"\" placeholder=\"EMail\">\n              \t\t\t                    <label for=\"inputComment\">Please comment using Text/<a href=\"https://en.wikipedia.org/wiki/HTML\">HTML/</a><a href=\"https://daringfireball.net/projects/markdown/syntax\">Markdown</a></label>\n            \t\t\t                    <textarea class=\"form-control\" rows=\"8\" name=\"body\" id=\"inputComment\" data-editor=\"markdown\">{{}}</textarea>\n            \t\t\t                </div>\n            \t\t\t                <button type=\"submit\" class=\"btn btn-primary\">Submit</button>\n            \t\t\t            </form>\n            \t\t\t        </div>\n                            {{/post}}\n                            {{^post}}\n                                <h5>Post not found</h5>\n                            {{/post}}\n                        {{{page.footer}}}\n                        {{{page.deletemodal}}}\n                    </div>\n                </div>\n            </div>\n        </div>\n    </div>\n\n{{{page.vendors}}}{{{page.functions}}}{{{page.scripts}}}\n\n<script>\n    $(function () {\n        {{#post}}\n        poc2go.getBlogPost('{{post.slug}}{{^post.slug}}{{post.id}}{{/post.slug}}', function(post){\n            var marked = poc2go.markup(post);\n            $('#showdown-title').html(marked.title);            \n            $('#showdown-body').html(marked.body); \n            $('#last-updated').html(marked.lastupdated);\n            $('#page-title').html(striptags(marked.title));            \n        });\n\n        $('#poc2go-navbar-edit').css('display', '');\n        $('#poc2go-navbar-edit').attr( \"href\", \"/build/edit/{{post.slug}}{{^post.slug}}{{post.id}}{{/post.slug}}\");\n\n        $('#poc2go-navbar-delete').css('display', '');\n        $('#deleteModalLabel').html('Delete post (<a href=\"/v1/posts/{{post.id}}\">{{post.id}}</a>) - <i>{{{post.marked.striptitle}}}</i>!');\n        $('#deleteModelYes').click(function() {\n            $.ajax({\n                url: '/build/posts/{{post.slug}}{{^post.slug}}{{post.id}}{{/post.slug}}', method: 'DELETE',\n                complete: function() {\n                    window.location = '/build/site';\n                }\n            });\n        });\n\n        $('#poc2go-navbar-comments').css('display', '');\n\n        {{/post}}\n        $(\"#poc2go-page\").css('display', ''); // Display the page\n        \n        // Submit New comment\n        $(\"#commentForm\").submit(function(e) {\n            poc2go.postForm(e, \"#commentForm\", \"/build/posts/{{post.slug}}{{^post.slug}}{{post.id}}{{/post.slug}}/comments\");\n        });\n    });\n</script>\n</body>\n</html>\n",
        "output": "str",
        "x": 610,
        "y": 260,
        "wires": [
            [
                "dc8d1969.d2e888"
            ]
        ]
    },
    {
        "id": "45652580.f4e51c",
        "type": "subflow:ecf7de04.053ad",
        "z": "3082454d.fb9b3a",
        "name": "",
        "x": 390,
        "y": 100,
        "wires": [
            [
                "63d13b18.af47b4"
            ]
        ]
    },
    {
        "id": "8c4ad8db.a73178",
        "type": "subflow:ecf7de04.053ad",
        "z": "3082454d.fb9b3a",
        "name": "",
        "x": 390,
        "y": 260,
        "wires": [
            [
                "cb5b1e36.1b9dd"
            ]
        ]
    },
    {
        "id": "33fa71ca.471e4e",
        "type": "http in",
        "z": "3082454d.fb9b3a",
        "name": "",
        "url": "/build/credits",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "371a3ba3.1afd34"
            ]
        ]
    },
    {
        "id": "7246ba30.cf6f84",
        "type": "template",
        "z": "3082454d.fb9b3a",
        "name": "Credits page view",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n\n<head>\n    {{{page.head}}}\n    {{{page.style}}}\n    <title>Kim's Blog</title>\n</head>\n\n<body>\n    <div id=\"wrapper\">\n        {{{page.sidebar}}}\n\n        <!-- Page Content -->\n        <div id=\"page-content-wrapper\">\n            <div class=\"container-fluid\">\n                <div class=\"container\">\n                    {{{page.header}}}\n                    {{{page.navbar}}}\n                    <div class=\"page-header\">\n                        <h2 style=\"padding:10px 0 0 0;\">On the shoulders of giants</h2>\n                        <p class=\"lead\">Kudo's to few of many developers and services below!</p>\n                    </div>\n            \n                    <div class=\"row\">\n                        <div class=\"col-lg-12\">\n                            <!-- display the credits-->\n                            <h4>Developers</h4>\n                            <div class=\"list-group\">\n                                <a href=\"https://github.com/knolleary\" class=\"list-group-item\">\n                                  <h4 class=\"list-group-item-heading\">Nick O'Leary</h4>\n                                  <p class=\"list-group-item-text\">Node-Red maintainer</p>\n                                </a>\n                                <a href=\"https://github.com/dceejay\" class=\"list-group-item\">\n                                  <h4 class=\"list-group-item-heading\">Dave Conway-Jones</h4>\n                                  <p class=\"list-group-item-text\">Node-Red maintainer</p>\n                                </a>\n                                <a href=\"https://disqus.com/home/forums/coligo/\" class=\"list-group-item\">\n                                  <h4 class=\"list-group-item-heading\">coligo</h4>\n                                  <p class=\"list-group-item-text\">Site Design</p>\n                                </a>\n                                <a href=\"https://github.com/arnauorriols\" class=\"list-group-item\">\n                                  <h4 class=\"list-group-item-heading\">Arnau Orriols</h4>\n                                  <p class=\"list-group-item-text\">Markdown node-red node</p>\n                                </a>\n                                <a href=\"https://gist.github.com/duncansmart\" class=\"list-group-item\">\n                                  <h4 class=\"list-group-item-heading\">Duncan Smart</h4>\n                                  <p class=\"list-group-item-text\">Script to tun Ace editor in a textarea</p>\n                                </a>\n                            </div>\n                            <h4>Packages</h4>\n                            <div class=\"list-group\">\n                                <a href=\"https://nodejs.org/en/\" class=\"list-group-item\">\n                                  <h4 class=\"list-group-item-heading\">Node.js and npm</h4>\n                                  <p class=\"list-group-item-text\">Server side javascript engine and package manager</p>\n                                </a>\n                                <a href=\"https://nodered.org/docs/\" class=\"list-group-item\">\n                                  <h4 class=\"list-group-item-heading\">Node-RED</h4>\n                                  <p class=\"list-group-item-text\">Site server</p>\n                                </a>\n                                <a href=\"https://mustache.github.io/mustache.5.html\" class=\"list-group-item\">\n                                  <h4 class=\"list-group-item-heading\">Mustache Template Engine</h4>\n                                  <p class=\"list-group-item-text\">Inject variable data into site pages</p>\n                                </a>\n                                <a href=\"https://daringfireball.net/projects/markdown/syntax\" class=\"list-group-item\">\n                                  <h4 class=\"list-group-item-heading\">Markdown HTML markup</h4>\n                                  <p class=\"list-group-item-text\">Markdown text to HTML syntax</p>\n                                </a>\n                                <a href=\"http://showdownjs.github.io/showdown/\" class=\"list-group-item\">\n                                  <h4 class=\"list-group-item-heading\">Showdown Markdown engine</h4>\n                                  <p class=\"list-group-item-text\">Convert Markdown text to HTML</p>\n                                </a>\n                                <a href=\"https://startbootstrap.com/\" class=\"list-group-item\">\n                                  <h4 class=\"list-group-item-heading\">StartBootStrap Templates</h4>\n                                  <p class=\"list-group-item-text\">Free Bootstrap templates</p>\n                                </a>\n                                <a href=\"http://fontawesome.io/\" class=\"list-group-item\">\n                                  <h4 class=\"list-group-item-heading\">Font Awesome!</h4>\n                                  <p class=\"list-group-item-text\">Icon Library</p>\n                                </a>\n                            </div>\n                            <h4>Services</h4>\n                            <div class=\"list-group\">\n                                <a href=\"https://c9.io/?redirect=0\" class=\"list-group-item\">\n                                  <h4 class=\"list-group-item-heading\">Cloud9</h4>\n                                  <p class=\"list-group-item-text\">Site host and IDE</p>\n                                </a>\n                            </div>\n                        </div>\n                    </div>\n                    {{{page.footer}}}\n                </div>\n            </div>\n        </div>\n    </div>\n    {{{page.vendors}}}{{{page.scripts}}}\n</body>\n\n</html>",
        "output": "str",
        "x": 610,
        "y": 140,
        "wires": [
            [
                "dc8d1969.d2e888"
            ]
        ]
    },
    {
        "id": "abf218ef.b13a88",
        "type": "http in",
        "z": "3082454d.fb9b3a",
        "name": "",
        "url": "/build/posts/:postId",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "d4b18d08.4d311"
            ]
        ]
    },
    {
        "id": "279d3d4d.4fc262",
        "type": "http in",
        "z": "3082454d.fb9b3a",
        "name": "",
        "url": "/build/edit/:postId",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 220,
        "wires": [
            [
                "9fea3bab.7627c8"
            ]
        ]
    },
    {
        "id": "9fea3bab.7627c8",
        "type": "subflow:ecf7de04.053ad",
        "z": "3082454d.fb9b3a",
        "name": "",
        "x": 390,
        "y": 220,
        "wires": [
            [
                "ecf3ed26.fba52"
            ]
        ]
    },
    {
        "id": "ecf3ed26.fba52",
        "type": "template",
        "z": "3082454d.fb9b3a",
        "name": "New/Edit post view",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n<head>\n    {{{page.head}}}\n    {{{page.style}}}\n</head>\n<body>\n    <div id=\"wrapper\">\n        {{{page.sidebar}}}\n\n        <!-- Page Content -->\n        <div id=\"page-content-wrapper\">\n            <div class=\"container-fluid\">\n\t\t\t    <div class=\"container\">\n                    {{{page.header}}}\n\t\t            {{{page.navbar}}}\n\t\t            <div>\n\t\t\t            <form id=\"blogpostForm\" action=\"/build/posts/{{post.slug}}\" method=\"post\" role=\"form\">\n\t\t\t                <input type=\"hidden\" name=\"id\" id=\"inputId\" value=\"{{post.id}}\" placeholder=\"Id\">\n\t\t\t                <div class=\"form-group\">\n\t\t\t                    <label for=\"inputTitle\">Title</label>\n\t\t\t                    <input type=\"text\" class=\"form-control\" name=\"title\" id=\"inputTitle\" value=\"{{post.title}}\" placeholder=\"Title\">\n\t\t\t                    <label for=\"inputAuthor\">Author</label>\n\t\t\t                    <input type=\"text\" class=\"form-control\" name=\"author\" id=\"inputAuthor\" value=\"{{post.author}}\" placeholder=\"Author\">\n\t\t\t                    <label for=\"inputSlug\">Slug</label>\n\t\t\t                    <input type=\"text\" class=\"form-control\" name=\"slug\" id=\"inputSlug\" value=\"{{post.slug}}\" placeholder=\"Slug\">\n                            </div>\n\t\t\t                <div class=\"form-group\">\n                                <input type=\"radio\" name=\"type\" value=\"post\" id=\"type-post\" autocomplete=\"off\" > Post\n                                <input type=\"radio\" name=\"type\" value=\"page\" id=\"type-page\" autocomplete=\"off\" > Page\n                                <input type=\"radio\" name=\"type\" value=\"hidden\" id=\"type-hidden\" autocomplete=\"off\" > Hidden\n\t\t\t                </div>\n             \n\t\t\t                <div class=\"form-group\">\n\t\t\t                    <label for=\"inputPost\"><a href=\"https://en.wikipedia.org/wiki/HTML\">HTML/</a><a href=\"https://daringfireball.net/projects/markdown/syntax\">Markdown/</a><a href=\"https://mustache.github.io/\">Mustache</a> Post</label>\n\t\t\t                    <textarea class=\"form-control\" rows=\"20\" name=\"body\" id=\"inputPost\" data-editor=\"markdown\">{{post.body}}</textarea>\n\t\t\t                </div>\n\t\t\t                <div class=\"form-group\">\n\t\t\t                    <label for=\"inputLocalLinks\">Post specific <a href=\"https://daringfireball.net/projects/markdown/syntax#link\">Markdown reference links</a></label>\n\t\t\t                    <textarea class=\"form-control\" rows=\"8\" name=\"locallinks\" id=\"inputLocalLinks\" data-editor=\"markdown\">{{post.locallinks}}</textarea>\n\t\t\t                </div>\n\t\t\t                <div class=\"form-group\">\n\t\t\t                    <label for=\"inputContext\"><a href=\"https://mustache.github.io/\">Mustache</a> Context - (<a href=\"http://www.json.org/\">JSON</a> format)</label>\n\t\t\t                    <textarea class=\"form-control\" rows=\"8\" name=\"context\" id=\"inputContext\" data-editor=\"javascript\">{{post.context}}</textarea>\n\t\t\t                </div>\n\t\t\t                <button type=\"submit\" class=\"btn btn-primary\">Submit</button>\n\t\t\t            </form>\n\t                </div>\n\t\t            {{{page.footer}}}\n\t\t\t    </div>\n\t\t    </div>\n\t\t</div>\n\t</div>\n\n{{{page.vendors}}}{{{page.functions}}}{{{page.scripts}}}\n\n<!-- Ace Editor -->\n<script src=\"//cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/ace.js\" type=\"text/javascript\" charset=\"utf-8\"></script>\n<script>\n    // Hook up ACE editor to all textareas with data-editor attribute\n    // https://gist.github.com/duncansmart/5267653\n    $(function () {\n        $('#poc2go-navbar-new').css('display', 'none');\n\n        {{^post}}\n            $(\"#type-post\").prop(\"checked\", true);\n            $(\"#inputContext\").html(\"{\\n\\n}\\n\");\n        {{/post}}\n        \n        // Init the ACE editors\n        $('textarea[data-editor]').each(function () {\n            var textarea = $(this);\n            var mode = textarea.data('editor');\n            var editDiv = $('<div>', {\n                position: 'absolute',\n                width: textarea.width(),\n                height: textarea.height(),\n                'class': textarea.attr('class')\n            }).insertBefore(textarea);\n            textarea.css('display', 'none');\n            var editor = ace.edit(editDiv[0]);\n            editor.renderer.setShowGutter(true);\n            editor.getSession().setValue(textarea.val());\n            editor.getSession().setMode(\"ace/mode/\" + mode);\n            editor.getSession().setUseWrapMode(true);\n            // editor.setTheme(\"ace/theme/idle_fingers\");\n            \n            // copy back to textarea on form submit...\n            textarea.closest('form').submit(function () {\n                textarea.val(editor.getSession().getValue());\n            });\n        });\n\n        {{#post}}\n            poc2go.getBlogPost('{{post.slug}}{{^post.slug}}{{post.id}}{{/post.slug}}', function(post){\n                var marked = poc2go.markup(post);\n                $('#page-title').html('Edit ' + striptags(marked.title));            \n            });\n            \n            // Check post type radio button\n            if (\"{{post.type}}\" === \"post\") {$(\"#type-post\").prop(\"checked\", true);}\n            else if (\"{{post.type}}\" === \"page\") {$(\"#type-page\").prop(\"checked\", true);}\n            else if (\"{{post.type}}\" === \"hidden\") {$(\"#type-hidden\").prop(\"checked\", true);}\n            else {$(\"#type-post\").prop(\"checked\", true);}\n        {{/post}}\n\n        // Default slug value is lower case title with spaces to dashes\n        $(\"#inputTitle\").change(function() {\n            if ($(\"#inputSlug\").val() === \"\") {\n                var slug = $(\"#inputTitle\").val().replace(/[^\\w\\s]/g,'').replace(/\\s/g,'-').toLowerCase();\n                $(\"#inputSlug\").val(slug);\n            }\n        });\n\n        // Submit New or Update blog post\n        $(\"#blogpostForm\").submit(function(e) {\n            poc2go.postForm(e, \"#blogpostForm\", \"/build/posts/{{post.slug}}{{^post.slug}}{{post.id}}{{/post.slug}}\");\n        });\n\n    });\n</script>\n</body>\n</html>\n",
        "output": "str",
        "x": 610,
        "y": 200,
        "wires": [
            [
                "dc8d1969.d2e888"
            ]
        ]
    },
    {
        "id": "3c3b0431.90edac",
        "type": "comment",
        "z": "3082454d.fb9b3a",
        "name": "Blog home page",
        "info": "This page uses the *Get Post(s)* subflow to get the posts from the blog_posts\nMySQL table. Since it does not pass the post ID in msg.req.params.postId,\n*Get Post(s)* returns all posts in _msg.posts_ object, which is passed onto\nthe _Blog Home_ web page template which uses Mustache to inject *msg.page* and\n*msg.posts* data into the page.\n\nThe web page is created using the standard node-red `template` node with\nMustache which injects the variable data.\n",
        "x": 840,
        "y": 100,
        "wires": []
    },
    {
        "id": "821f9863.54a498",
        "type": "http in",
        "z": "3082454d.fb9b3a",
        "name": "",
        "url": "/build/new",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 180,
        "wires": [
            [
                "f45d1e95.91036"
            ]
        ]
    },
    {
        "id": "f45d1e95.91036",
        "type": "subflow:c330e687.8faa28",
        "z": "3082454d.fb9b3a",
        "x": 390,
        "y": 180,
        "wires": [
            [
                "ecf3ed26.fba52"
            ]
        ]
    },
    {
        "id": "5578a03b.e965f",
        "type": "http in",
        "z": "3082454d.fb9b3a",
        "name": "",
        "url": "/build/posts",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 380,
        "wires": [
            [
                "f5dbeceb.dd8f5"
            ]
        ]
    },
    {
        "id": "cad7e461.752a18",
        "type": "comment",
        "z": "3082454d.fb9b3a",
        "name": "Enter new post",
        "info": "This request inserts into the database _title_, _author_, _body_ that is given in\nthe body of the [post].\n\nThe database is then queried for the _id_ of the last record insert. That id is\nmoved to the msg.req.params.postId, then the _Display post page_ flow is used\nto display the blog post just inserted.",
        "x": 840,
        "y": 380,
        "wires": []
    },
    {
        "id": "ff27670.1b10698",
        "type": "comment",
        "z": "3082454d.fb9b3a",
        "name": "Create / Edit a blog post",
        "info": "This page uses the *Page Layout* subflow to add the site standard\nheader, navbar, footer, etc.\n\nThe web page is created using the standard node-red `template` node with\nMustache which injects the variable data.\n",
        "x": 860,
        "y": 220,
        "wires": []
    },
    {
        "id": "7c160a50.a08954",
        "type": "comment",
        "z": "3082454d.fb9b3a",
        "name": "Display a blog post",
        "info": "This page uses the *Get Post(s)* subflow to get the posts from the blog_posts\nMySQL table. It has the post ID in msg.req.params.postId thus *Get Post(s)*\nsubflow returns that post in _msg.post_ object, which is passed onto\nthe _Edit a post_ web page template which uses Mustache to inject *msg.page* and\nthe post *msg.post* data into the page.\n\nIt also uses the Markup body subflow which takes the text from the body of the\npost and runs it through the *marked* package to markup the body from Markdown\ntext to HTML.\n\nThe web page is created using the standard node-red `template` node with\nMustache which injects the variable data.\n",
        "x": 850,
        "y": 260,
        "wires": []
    },
    {
        "id": "5abcb01d.218c7",
        "type": "comment",
        "z": "3082454d.fb9b3a",
        "name": "Update existing post",
        "info": "This request updates the blog post of the postId given in the request URL. The\n_title_, _author_, _body_ that is given in the body (payload) of the [post]\noverwrites the existing blog post.\n\nThe _Display post page_ flow is used to display the blog post just updated.\n",
        "x": 850,
        "y": 420,
        "wires": []
    },
    {
        "id": "b85a1fcf.ac963",
        "type": "comment",
        "z": "3082454d.fb9b3a",
        "name": "Credits page",
        "info": "This page is a simple page that uses the *Page Layout* subflow to add the\nsite standard header, navbar, footer, etc.\n\nThe web page is created using the standard node-red `template` node with\nMustache which injects the variable data.\n",
        "x": 830,
        "y": 140,
        "wires": []
    },
    {
        "id": "1b336179.9cf7bf",
        "type": "comment",
        "z": "3082454d.fb9b3a",
        "name": "Web Site Builder",
        "info": "There are five [get] pages and two [post] processes to run the blog site.\n\nThe home page displays links to the list of posts, credits page of kudos, and the \ndisplay/creation/editing of blog posts.\n\nThe HTTP [post] requests update the database\nand then display the appropriate **blog post** page.\n\n*Note:* Some confusion can happen between the HTTP method **[post]** and a **blog _post_**. In\nnode descriptions and documentation the **HTTP _[get]_ **and** _[post]_ ** methods are encloded in square-brackets [].\n\n### Inputs\nInputs are in the form of HTTP requests. Where appropriate the post ID is passed as a parameter\nin the request to get the post information from the database.\n\n### Outputs\n  * HTML pages\n    * Blog Home\n        * Displays list of all blog posts\n    * Create new post\n        * Edit page '/edit' without a post ID\n    * Edit existing post\n        * Edit page given a post ID\n            * '/edit/:postId'\n    * Blog Credits page\n        * Thanks crediting developers, packages, and services\n    * Post page\n        * Displays the title, author, and body of a post\n\n\n  * Processes (see _Blog Site Processes_ comment for more details)\n    * [Post] '/post'\n        * Insert new blog post into database\n        * Return page that displays that post\n    * [Post] '/post/:postId'\n        * Update existing blog post on database \n        * Return page that displays updated post\n",
        "x": 440,
        "y": 20,
        "wires": []
    },
    {
        "id": "371a3ba3.1afd34",
        "type": "subflow:c330e687.8faa28",
        "z": "3082454d.fb9b3a",
        "name": "",
        "x": 390,
        "y": 140,
        "wires": [
            [
                "7246ba30.cf6f84"
            ]
        ]
    },
    {
        "id": "893b3f0f.eebcb",
        "type": "comment",
        "z": "3082454d.fb9b3a",
        "name": "Views",
        "info": "There are four pages in the Blog site. Create and Edit a blog post use the same web page.\n\nThe home page displays links to the list of posts, credits page of kudos, and the \ndisplay/creation/editing of blog posts.\n\n### Inputs\nInputs are in the form of HTTP requests. Where appropriate the post ID is passed as a parameter\nin the request to get the post information from the database.\n\n### Outputs\n  * HTML pages\n    * Blog Home\n        * Displays list of all blog posts\n    * Create new post\n        * Edit page '/edit' without a post ID\n    * Edit existing post\n        * Edit page given a post ID\n            * '/edit/:postId'\n    * Blog Credits page\n        * Thanks crediting developers, packages, and services\n    * Post page\n        * Displays the title, author, and body of a post\n\n### Details\nThe pages use Mustache to inject HTML header, footer, etc. into each page\nfrom the *msg.page* object. All pages but the Credits page access the \ndatabase to get the data to inject into the pages.\n\nThe Credits page is the simplest of all the pages.",
        "x": 610,
        "y": 60,
        "wires": []
    },
    {
        "id": "d4b18d08.4d311",
        "type": "function",
        "z": "3082454d.fb9b3a",
        "name": "Update post",
        "func": "global.get(\"db\").updatePost(msg);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 420,
        "wires": [
            [
                "a064f54a.1a7fe8"
            ]
        ]
    },
    {
        "id": "f5dbeceb.dd8f5",
        "type": "function",
        "z": "3082454d.fb9b3a",
        "name": "New post",
        "func": "global.get(\"db\").newPost(msg);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 380,
        "wires": [
            [
                "a064f54a.1a7fe8"
            ]
        ]
    },
    {
        "id": "bf6ba13b.05803",
        "type": "http in",
        "z": "3082454d.fb9b3a",
        "name": "",
        "url": "/build/posts/:postId",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "13534473.7b4cbc"
            ]
        ]
    },
    {
        "id": "13534473.7b4cbc",
        "type": "function",
        "z": "3082454d.fb9b3a",
        "name": "Delete post",
        "func": "global.get(\"db\").deletePost(msg);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 460,
        "wires": [
            [
                "a064f54a.1a7fe8"
            ]
        ]
    },
    {
        "id": "2235bf90.30b4b",
        "type": "comment",
        "z": "3082454d.fb9b3a",
        "name": "Delete existing post",
        "info": "This request updates the blog post of the postId given in the request URL. The\n_title_, _author_, _body_ that is given in the body (payload) of the [post]\noverwrites the existing blog post.\n\nThe _Display post page_ flow is used to display the blog post just updated.\n",
        "x": 850,
        "y": 460,
        "wires": []
    },
    {
        "id": "a064f54a.1a7fe8",
        "type": "function",
        "z": "3082454d.fb9b3a",
        "name": "JSON Result",
        "func": "if (msg.payload && msg.payload.id) {\n    msg.payload.result = 'success';\n    msg.payload.nextpage = '/build/posts/' + (msg.payload.slug ? msg.payload.slug : msg.payload.id);\n}\nelse {\n    msg.payload.result = 'failed';\n    msg.payload.nextpage = '/';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 500,
        "wires": [
            [
                "f01dd371.e8196"
            ]
        ]
    },
    {
        "id": "8068fa43.384938",
        "type": "http in",
        "z": "8c3ec654.d10248",
        "name": "",
        "url": "/posts",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 100,
        "wires": [
            [
                "c7290a57.980b38"
            ]
        ]
    },
    {
        "id": "e4253f74.b6de1",
        "type": "function",
        "z": "8c3ec654.d10248",
        "name": "Load payload",
        "func": "if (msg.posts) {\n    msg.payload = msg.posts;\n    // Remove unwanted work fields\n    msg.payload.forEach(post => {\n      delete post.marked;\n      if (post.comments) {\n        post.comments.forEach(comment => {\n          delete comment.marked;\n        });\n      }\n    });\n}\nelse {\n    msg.payload = msg.post;\n    /*\n        delete msg.payload.marked;\n        if (msg.payload.comments) {\n        msg.payload.comments.forEach(comment => {\n          delete comment.marked;\n        });\n    }\n    */\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 100,
        "wires": [
            [
                "24ac2218.b9a99e"
            ]
        ]
    },
    {
        "id": "24ac2218.b9a99e",
        "type": "http response",
        "z": "8c3ec654.d10248",
        "name": "http response",
        "statusCode": "",
        "headers": {},
        "x": 780,
        "y": 100,
        "wires": []
    },
    {
        "id": "fb53fdc5.fe6d1",
        "type": "http in",
        "z": "8c3ec654.d10248",
        "name": "",
        "url": "/posts/:postId",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "c7290a57.980b38"
            ]
        ]
    },
    {
        "id": "c2d7b1ce.e9f5a",
        "type": "function",
        "z": "8c3ec654.d10248",
        "name": "New post",
        "func": "global.get(\"db\").newPost(msg);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 180,
        "wires": [
            [
                "c7290a57.980b38"
            ]
        ]
    },
    {
        "id": "8d3b5576.d4d9f8",
        "type": "http in",
        "z": "8c3ec654.d10248",
        "name": "",
        "url": "/posts",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "c2d7b1ce.e9f5a"
            ]
        ]
    },
    {
        "id": "40f622ee.740a7c",
        "type": "function",
        "z": "8c3ec654.d10248",
        "name": "Update post",
        "func": "global.get(\"db\").updatePost(msg);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 220,
        "wires": [
            [
                "c7290a57.980b38"
            ]
        ]
    },
    {
        "id": "3364cb00.b30536",
        "type": "http in",
        "z": "8c3ec654.d10248",
        "name": "",
        "url": "/posts/:postId",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "40f622ee.740a7c"
            ]
        ]
    },
    {
        "id": "6cdd0ee4.8f07f",
        "type": "comment",
        "z": "8c3ec654.d10248",
        "name": "REST endpoints",
        "info": "",
        "x": 400,
        "y": 20,
        "wires": []
    },
    {
        "id": "b2a3e2d1.50084",
        "type": "comment",
        "z": "8c3ec654.d10248",
        "name": "Submit new blog post",
        "info": "",
        "x": 560,
        "y": 180,
        "wires": []
    },
    {
        "id": "f4430969.6d6798",
        "type": "comment",
        "z": "8c3ec654.d10248",
        "name": "Update blog post",
        "info": "",
        "x": 540,
        "y": 220,
        "wires": []
    },
    {
        "id": "e2806d47.d12a9",
        "type": "comment",
        "z": "8c3ec654.d10248",
        "name": "Get all or single post",
        "info": "",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "89c45d4c.da0e1",
        "type": "debug",
        "z": "3082454d.fb9b3a",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 210,
        "y": 660,
        "wires": []
    },
    {
        "id": "95d9f0ae.61ab7",
        "type": "catch",
        "z": "3082454d.fb9b3a",
        "name": "",
        "scope": null,
        "x": 80,
        "y": 660,
        "wires": [
            [
                "89c45d4c.da0e1"
            ]
        ]
    },
    {
        "id": "88f5aef8.c2be5",
        "type": "comment",
        "z": "3082454d.fb9b3a",
        "name": "Catch errors",
        "info": "",
        "x": 390,
        "y": 660,
        "wires": []
    },
    {
        "id": "e64ae223.23a16",
        "type": "debug",
        "z": "8c3ec654.d10248",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 210,
        "y": 340,
        "wires": []
    },
    {
        "id": "d8235d36.531d3",
        "type": "catch",
        "z": "8c3ec654.d10248",
        "name": "",
        "scope": null,
        "x": 80,
        "y": 340,
        "wires": [
            [
                "e64ae223.23a16"
            ]
        ]
    },
    {
        "id": "5453eeca.8f955",
        "type": "comment",
        "z": "8c3ec654.d10248",
        "name": "Catch errors",
        "info": "",
        "x": 390,
        "y": 340,
        "wires": []
    },
    {
        "id": "51a3330a.cae96c",
        "type": "template",
        "z": "c330e687.8faa28",
        "name": "Head",
        "field": "page.head",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n<meta charset=\"utf-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n<meta name=\"description\" content=\"\">\n<meta name=\"author\" content=\"\">\n<title id=\"page-title\"></title>\n\n<!-- Bootstrap core CSS -->\n<link href=\"/build/vendor/bootstrap/css/bootstrap.min.css\" rel=\"stylesheet\">\n\n<!-- Custom styles for this template -->\n<link href=\"/build/css/simple-sidebar.css\" rel=\"stylesheet\">\n\n<!-- Font Awesome -->\n<link href=\"https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css\" rel=\"stylesheet\" integrity=\"sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN\" crossorigin=\"anonymous\">\n\n<!-- Highlightjs -->\n<link href=\"https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css\" rel=\"stylesheet\">\n\n\n<style>\n    body {background-color: aliceblue;}\n    .page-header {background-color: #e3f1ff}\n    /* p, li {font-size: 1.2em;} */\n    pre code {white-space: pre;overflow-x: auto; background:ghostwhite;}\n    blockquote {font-size: 1em;}\n    .btn-outline-primary {margin: 0 .5rem 0 0;}\n    #menu-toggle {float:left; text-decoration: none;}\n    .know-more {font-size: .8em;}\n    .sb-icon {background: white;}\n    .fa {display: inline;}\n</style>\n",
        "output": "str",
        "x": 350,
        "y": 60,
        "wires": [
            [
                "d03e4b54.515198"
            ]
        ]
    },
    {
        "id": "d1891f9c.4c63c",
        "type": "template",
        "z": "c330e687.8faa28",
        "name": "Header",
        "field": "page.header",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n<div class=\"header clearfix\">\n    <nav>\n        <a href=\"#menu-toggle\" id=\"menu-toggle\" data-toggle=\"tooltip\" title=\"Menu\"><i class=\"fa fa-bars\"></i></a>\n        <h3 class=\"text-muted\">{{{config.builder.sitename}}}</h3>\n    </nav>\n</div>\n",
        "output": "str",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "14f1d454.666acc"
            ]
        ]
    },
    {
        "id": "20ce85d6.fe687a",
        "type": "template",
        "z": "c330e687.8faa28",
        "name": "SideBar",
        "field": "page.sidebar",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n<!-- Sidebar -->\n<div id=\"sidebar-wrapper\">\n    <ul class=\"sidebar-nav\">\n        <li class=\"sidebar-brand\">\n            <a href=\"/red\"><i class=\"fa fa-share-alt\"></i> Site FLows</a>\n        </li>\n        <li><a href=\"/build/posts/from-the-bottom\"><i class=\"fa fa-home\"></i> Overview</a></li>\n        <li><a href=\"/build/posts/what-is-node-red\"><i class=\"fa fa-gears\"></i> Why use Node-RED?</a></li>\n        <li><a href=\"/build/posts/node-red-host-server\"><i class=\"fa fa-ils\"></i> Embed Node-RED flows</a></li>\n        <li><a href=\"#\">About</a></li>\n        <li><a href=\"#\">Services</a></li>\n        <li><a href=\"#\">Contact</a></li>\n        <li><a href=\"/build/credits\">Credits</a></li>\n    </ul>\n</div>\n<!-- /#sidebar-wrapper -->\n",
        "output": "str",
        "x": 680,
        "y": 60,
        "wires": [
            [
                "d1891f9c.4c63c"
            ]
        ]
    },
    {
        "id": "e287e3be.d23f",
        "type": "template",
        "z": "c330e687.8faa28",
        "name": "Footer",
        "field": "page.footer",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n<hr>\n<footer class=\"footer\">\n    <p>&copy; {{{config.builder.copyright}}}</p>\n    <p>License: <a href=\"/build/posts/mit-license\">MIT</a></p>\n</footer>\n",
        "output": "str",
        "x": 570,
        "y": 140,
        "wires": [
            [
                "20ab214f.7d58ae"
            ]
        ]
    },
    {
        "id": "1bc40764.a84739",
        "type": "template",
        "z": "c330e687.8faa28",
        "name": "Scripts",
        "field": "page.scripts",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n<script>\n$(function () {\n    <!-- Menu Toggle Script -->\n    $('a').click(function(e) { \n        // If the show/hide menu button then toggle the sidebar\n        if (e.target.id === 'menu-toggle' || this.id === 'menu-toggle') {\n            e.preventDefault();\n            $(\"#wrapper\").toggleClass(\"toggled\");\n        }\n        // Give time for the sidebar to collapse before going to link\n        else if ($(\"#wrapper\").hasClass(\"toggled\")) {\n            e.preventDefault();                   // prevent default anchor behavior\n            var goTo = this.getAttribute(\"href\"); // store anchor href\n            $(\"#wrapper\").toggleClass(\"toggled\",false);\n            setTimeout(function() {\n                 window.location = goTo;\n            },500);\n        }\n    });\n});\n</script>\n",
        "output": "str",
        "x": 490,
        "y": 220,
        "wires": [
            [
                "5938410e.bcfcb"
            ]
        ]
    },
    {
        "id": "5938410e.bcfcb",
        "type": "template",
        "z": "c330e687.8faa28",
        "name": "Delete confirmation",
        "field": "page.deletemodal",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n<!-- Confirm Delete Modal -->\n<div class=\"modal fade\" id=\"deleteModal\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"deleteModalLabel\" aria-hidden=\"true\">\n  <div class=\"modal-dialog\" role=\"document\">\n    <div class=\"modal-content\">\n      <div class=\"modal-header\">\n        <h5 class=\"modal-title\" id=\"deleteModalLabel\">Modal title</h5>\n        <button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-label=\"Close\">\n          <span aria-hidden=\"true\">&times;</span>\n        </button>\n      </div>\n      <div class=\"modal-body\" id=\"deleteModelBody\">\n        Confirm removal of this post. This action can not be undone.\n      </div>\n      <div class=\"modal-footer\">\n        <button type=\"button\" class=\"btn btn-secondary\" data-dismiss=\"modal\">Keep</button>\n        <button type=\"button\" class=\"btn btn-danger\" id=\"deleteModelYes\">Delete</button>\n      </div>\n    </div>\n  </div>\n</div>\n",
        "output": "str",
        "x": 390,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "45c1c9e.ebf1138",
        "type": "switch",
        "z": "ecf7de04.053ad",
        "name": "URL requested",
        "property": "req.url",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^\\/casual\\/",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "^\\/posts\\/",
                "vt": "str",
                "case": false
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 3,
        "x": 530,
        "y": 120,
        "wires": [
            [
                "2a59651e.71538a"
            ],
            [],
            [
                "42a17f0c.4cdf3"
            ]
        ],
        "outputLabels": [
            "Casual Theme",
            "REST Request",
            "Builder Theme"
        ]
    },
    {
        "id": "9f0812f0.530df",
        "type": "comment",
        "z": "3082454d.fb9b3a",
        "name": "Controllers",
        "info": "",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "dec112ba.0c619",
        "type": "comment",
        "z": "3082454d.fb9b3a",
        "name": "Model",
        "info": "",
        "x": 390,
        "y": 60,
        "wires": []
    },
    {
        "id": "e9210c4c.63588",
        "type": "comment",
        "z": "3082454d.fb9b3a",
        "name": "Operations",
        "info": "",
        "x": 820,
        "y": 60,
        "wires": []
    },
    {
        "id": "c96d370c.ca0c88",
        "type": "template",
        "z": "f7bd7a0f.809288",
        "name": "Global Links",
        "field": "postFooter",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n[Would You Like to Know More?]: https://www.youtube.com/watch?v=kdrjzE1SE58\n[Ace]: https://ace.c9.io/\n[BeagleBoard]: https://en.wikipedia.org/wiki/BeagleBoard\n[BootStrap]: http://getbootstrap.com/\n[Business]: https://en.wikipedia.org/wiki/Business_logic\n[control and view]: https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller\n[controller and view]: https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller\n[core nodes]: https://github.com/node-red/node-red/tree/master/nodes/core\n[CRUD]: https://en.wikipedia.org/wiki/Create,_read,_update_and_delete\n[data flow]: https://en.wikipedia.org/wiki/Dataflow_programming\n[data flows]: https://en.wikipedia.org/wiki/Dataflow_programming\n[expressjs]: https://expressjs.com/\n[flows]: https://en.wikipedia.org/wiki/Flow-based_programming\n[flow based]: https://en.wikipedia.org/wiki/Flow-based_programming\n[framework]: https://en.wikipedia.org/wiki/Software_framework\n[GitHub]: https://github.com/node-red\n[HTML]: https://en.wikipedia.org/wiki/HTML\n[IBM Emerging Technology Group]: https://emerging-technology.co.uk/\n[Intel Edison]: https://en.wikipedia.org/wiki/Intel_Edison\n[Internet of Things (IoT)]: https://en.wikipedia.org/wiki/Internet_of_things\n[JS Foundation]: https://js.foundation/community/projects\n[Markdown]: https://daringfireball.net/projects/markdown/syntax\n[mobile friendly]: https://en.wikipedia.org/wiki/Mobile_Web\n[Model]: https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller\n[MongoDB]: https://en.wikipedia.org/wiki/MongoDB\n[Mustache]: https://mustache.github.io/\n[mustache template engine]: https://mustache.github.io/\n[MVC]: https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller\n[MySQL]: https://en.wikipedia.org/wiki/MySQL\n[Node-RED nodes]: https://nodered.org/docs/creating-nodes/\n[Node-Red]: https://nodered.org/\n[Node.js]: https://nodejs.org/\n[Node-RED flows]: https://nodered.org/docs/getting-started/first-flow\n[nodes]: https://nodered.org/docs/creating-nodes/\n[Oracle]: https://en.wikipedia.org/wiki/Oracle_Database\n[Presentation]: https://en.wikipedia.org/wiki/Presentation_logic\n[process and data flow]: https://en.wikipedia.org/wiki/Flow-based_programming\n[Raspberry Pi]: https://en.wikipedia.org/wiki/Raspberry_Pi\n[REST]: https://en.wikipedia.org/wiki/Representational_state_transfer\n[RESTful]: https://en.wikipedia.org/wiki/Representational_state_transfer\n[Showdown]: https://github.com/showdownjs/showdown/wiki\n",
        "output": "str",
        "x": 450,
        "y": 40,
        "wires": [
            [
                "1f95ac9b.e3c9a3"
            ]
        ]
    },
    {
        "id": "507cef60.e300e",
        "type": "subflow:f7bd7a0f.809288",
        "z": "c330e687.8faa28",
        "name": "",
        "x": 170,
        "y": 60,
        "wires": [
            [
                "51a3330a.cae96c"
            ]
        ]
    },
    {
        "id": "a42ae250.031f9",
        "type": "subflow:f7bd7a0f.809288",
        "z": "ecf7de04.053ad",
        "name": "",
        "x": 360,
        "y": 120,
        "wires": [
            [
                "45c1c9e.ebf1138"
            ]
        ]
    },
    {
        "id": "80ba3dfb.87213",
        "type": "http in",
        "z": "3082454d.fb9b3a",
        "name": "",
        "url": "/build/posts/:postId/comments",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 540,
        "wires": [
            [
                "25edd695.746a1a"
            ]
        ]
    },
    {
        "id": "25edd695.746a1a",
        "type": "function",
        "z": "3082454d.fb9b3a",
        "name": "New comment",
        "func": "global.get(\"db\").newComment(msg);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 540,
        "wires": [
            [
                "a064f54a.1a7fe8"
            ]
        ]
    },
    {
        "id": "b8b908c7.7753c8",
        "type": "comment",
        "z": "3082454d.fb9b3a",
        "name": "Enter new comment",
        "info": "",
        "x": 850,
        "y": 540,
        "wires": []
    },
    {
        "id": "f01dd371.e8196",
        "type": "http response",
        "z": "3082454d.fb9b3a",
        "name": "http response",
        "statusCode": "",
        "headers": {},
        "x": 860,
        "y": 500,
        "wires": []
    },
    {
        "id": "14f1d454.666acc",
        "type": "template",
        "z": "c330e687.8faa28",
        "name": "NavBar",
        "field": "page.navbar",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n<a href=\"/build/site\" class=\"btn btn-outline-primary btn-sm\" id=\"poc2go-navbar-blog\">Posts</a>\n<a href=\"/build/new\" class=\"btn btn-outline-primary btn-sm\" id=\"poc2go-navbar-new\">New</a>\n<a href=\"#\" class=\"btn btn-outline-primary btn-sm\" id=\"poc2go-navbar-edit\" style=\"display: none;\">Edit</a>\n<a href=\"#\" class=\"btn btn-outline-primary btn-sm\" id=\"poc2go-navbar-comments\" style=\"display: none;\">Comments</a>\n<a href=\"#\" class=\"btn btn-outline-primary btn-sm\" id=\"poc2go-navbar-delete\" style=\"display: none;\" data-toggle=\"modal\" data-target=\"#deleteModal\">Delete</a>\n",
        "output": "str",
        "x": 380,
        "y": 140,
        "wires": [
            [
                "e287e3be.d23f"
            ]
        ]
    },
    {
        "id": "20ab214f.7d58ae",
        "type": "template",
        "z": "c330e687.8faa28",
        "name": "Vendors",
        "field": "page.vendors",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n<!-- Bootstrap core JavaScript -->\n<script src=\"/build/vendor/jquery/jquery.min.js\"></script>\n<script src=\"/build/vendor/popper/popper.min.js\"></script>\n<script src=\"/build/vendor/bootstrap/js/bootstrap.min.js\"></script>\n",
        "output": "str",
        "x": 280,
        "y": 220,
        "wires": [
            [
                "1bc40764.a84739"
            ]
        ]
    },
    {
        "id": "83a0fd0f.f377a",
        "type": "comment",
        "z": "3082454d.fb9b3a",
        "name": "Ajax",
        "info": "",
        "x": 460,
        "y": 340,
        "wires": []
    },
    {
        "id": "a32b0046.46f62",
        "type": "comment",
        "z": "99dcc10f.77084",
        "name": "Set standard HTML that is on web pages (styles, navigation, footer, etc.)",
        "info": "",
        "x": 330,
        "y": 40,
        "wires": []
    },
    {
        "id": "52da02a4.cae84c",
        "type": "template",
        "z": "99dcc10f.77084",
        "name": "Head",
        "field": "page.head",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n<meta charset=\"utf-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n<meta name=\"description\" content=\"\">\n<meta name=\"author\" content=\"\">\n<title id=\"page-title\"></title>\n\n<!-- Bootstrap core CSS -->\n<link href=\"/casual/vendor/bootstrap/css/bootstrap.min.css\" rel=\"stylesheet\">\n\n<!-- Custom fonts for this template -->\n<link href=\"https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800\" rel=\"stylesheet\" type=\"text/css\">\n<link href=\"https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic\" rel=\"stylesheet\" type=\"text/css\">\n\n<!-- Custom styles for this template -->\n<link href=\"/casual/css/business-casual.css\" rel=\"stylesheet\">\n\n",
        "output": "str",
        "x": 330,
        "y": 80,
        "wires": [
            [
                "18f7900d.5b235"
            ]
        ]
    },
    {
        "id": "aa1d0ce.49674f",
        "type": "template",
        "z": "99dcc10f.77084",
        "name": "Header",
        "field": "page.header",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n<div class=\"tagline-upper text-center text-heading text-shadow text-white mt-5 d-none d-lg-block\">{{{config.casual.sitename}}}</div>\n<div class=\"tagline-lower text-center text-expanded text-shadow text-uppercase text-white mb-5 d-none d-lg-block\">{{{config.casual.sitesubname}}}</div>\n",
        "output": "str",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "79deae59.2f6e3"
            ]
        ]
    },
    {
        "id": "ca671d84.6f938",
        "type": "template",
        "z": "99dcc10f.77084",
        "name": "Footer",
        "field": "page.footer",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n<footer class=\"bg-faded text-center py-5\">\n  <div class=\"container\">\n    <p class=\"m-0\">Copyright &copy; {{{config.casual.copyright}}}</p>\n  </div>\n</footer>\n\n",
        "output": "str",
        "x": 510,
        "y": 160,
        "wires": [
            [
                "b6cbfc00.d6a8d"
            ]
        ]
    },
    {
        "id": "eb0c34b4.a22948",
        "type": "template",
        "z": "99dcc10f.77084",
        "name": "Scripts",
        "field": "page.scripts",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n<script>\n$(function () {\n\n});\n</script>\n",
        "output": "str",
        "x": 430,
        "y": 240,
        "wires": [
            [
                "c5755d9f.f2cb"
            ]
        ]
    },
    {
        "id": "79f3ef08.40054",
        "type": "subflow:f7bd7a0f.809288",
        "z": "99dcc10f.77084",
        "name": "",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "52da02a4.cae84c"
            ]
        ]
    },
    {
        "id": "c5755d9f.f2cb",
        "type": "template",
        "z": "99dcc10f.77084",
        "name": "Code block highlight",
        "field": "page.codeblockhighlight",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n<!-- Showdown code highlight script -->\n<script>\n    showdown.extension('codehighlight', function() {\n      function htmlunencode(text) {\n        return (\n          text\n            .replace(/&amp;/g, '&')\n            .replace(/&lt;/g, '<')\n            .replace(/&gt;/g, '>')\n          );\n      }\n      return [\n        {\n          type: 'output',\n          filter: function (text, converter, options) {\n            // use new shodown's regexp engine to conditionally parse codeblocks\n            var left  = '<pre><code\\\\b[^>]*>',\n                right = '</code></pre>',\n                flags = 'g',\n                replacement = function (wholeMatch, match, left, right) {\n                  // unescape match to prevent double escaping\n                  match = htmlunencode(match);\n                  return left + hljs.highlightAuto(match).value + right;\n                };\n            return showdown.helper.replaceRecursiveRegExp(text, replacement, left, right, flags);\n          }\n        }\n      ];\n    });\n\n    var converter;\n    $(function () {\n        $('pre code').addClass('hljs');\n        showdown.setFlavor('github');\n        converter = new showdown.Converter({ extensions: ['codehighlight'] });\n    });\n</script>\n\n",
        "output": "str",
        "x": 320,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "79deae59.2f6e3",
        "type": "template",
        "z": "99dcc10f.77084",
        "name": "NavBar",
        "field": "page.navbar",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n<!-- Navigation -->\n<nav class=\"navbar navbar-expand-lg navbar-light bg-faded py-lg-4\">\n  <div class=\"container\">\n    <a class=\"navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none\" href=\"#\">Start Bootstrap</a>\n    <button class=\"navbar-toggler\" type=\"button\" data-toggle=\"collapse\" data-target=\"#navbarResponsive\" aria-controls=\"navbarResponsive\" aria-expanded=\"false\" aria-label=\"Toggle navigation\">\n      <span class=\"navbar-toggler-icon\"></span>\n    </button>\n    <div class=\"collapse navbar-collapse\" id=\"navbarResponsive\">\n      <ul class=\"navbar-nav mx-auto\">\n        <li class=\"nav-item active px-lg-4\">\n          <a class=\"nav-link text-uppercase text-expanded\" href=\"index\">Home\n            <span class=\"sr-only\">(current)</span>\n          </a>\n        </li>\n        <li class=\"nav-item px-lg-4\">\n          <a class=\"nav-link text-uppercase text-expanded\" href=\"about.html\">About</a>\n        </li>\n        <li class=\"nav-item px-lg-4\">\n          <a class=\"nav-link text-uppercase text-expanded\" href=\"blog.html\">Blog</a>\n        </li>\n        <li class=\"nav-item px-lg-4\">\n          <a class=\"nav-link text-uppercase text-expanded\" href=\"contact.html\">Contact</a>\n        </li>\n      </ul>\n    </div>\n  </div>\n</nav>\n",
        "output": "str",
        "x": 340,
        "y": 160,
        "wires": [
            [
                "ca671d84.6f938"
            ]
        ]
    },
    {
        "id": "b6cbfc00.d6a8d",
        "type": "template",
        "z": "99dcc10f.77084",
        "name": "Vendors",
        "field": "page.vendors",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n<!-- Bootstrap core JavaScript -->\n<script src=\"/casual/vendor/jquery/jquery.min.js\"></script>\n<script src=\"/casual/vendor/bootstrap/js/bootstrap.bundle.min.js\"></script>\n\n",
        "output": "str",
        "x": 240,
        "y": 240,
        "wires": [
            [
                "eb0c34b4.a22948"
            ]
        ]
    },
    {
        "id": "cac7327b.bbfe6",
        "type": "http in",
        "z": "288944c7.a1ceec",
        "name": "",
        "url": "/casual/posts/:postId",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "a2a379fe.d221a8"
            ]
        ]
    },
    {
        "id": "a2a379fe.d221a8",
        "type": "subflow:ecf7de04.053ad",
        "z": "288944c7.a1ceec",
        "name": "",
        "x": 430,
        "y": 220,
        "wires": [
            [
                "a868125b.88a36"
            ]
        ]
    },
    {
        "id": "a868125b.88a36",
        "type": "template",
        "z": "288944c7.a1ceec",
        "name": "Display post view",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n\n<head>\n    {{{page.head}}}\n    {{{page.style}}}\n    <title>{{post.marked.striptitle}}</title>\n</head>\n\n<body>\n    <div id=\"wrapper\">\n        {{{page.sidebar}}}\n        <!-- Page Content -->\n        <div id=\"page-content-wrapper\">\n            <div class=\"container-fluid\">\n                <div class=\"container\">\n                    <!-- Make page display smoothly - so do not display until page has been built by the browser -->\n                    <div id=\"poc2go-page\" style=\"display: none;\">\n                        {{{page.header}}}\n                        {{{page.navbar}}}\n                            {{#post}}\n                                <h2>{{{post.marked.title}}}</h2>\n                                Post (<a href=\"/v1/posts/{{post.id}}\">{{post.id}}</a>) by {{post.author}} updated (<i>{{post.marked.lastupdated}}</i>)\n                                <hr>\n                                <div id=\"showdown-body\" class=\"hidden\" style=\"margin-top: 20px;\"></div>\n                                <hr>\n                                <div>\n                                    {{#post.comments}}\n                                        {{author}} ( commented {{{marked.lastupdated}}} )<br>{{{marked.body}}}<hr>\n                                    {{/post.comments}}\n                                </div>\n            \t\t\t        <div>\n            \t\t\t            <h6>Your comments are appreciated</h6>\n            \t\t\t            <form id=\"commentForm\" action=\"/build/posts/{{post.slug}}/comments\" method=\"post\" role=\"form\">\n            \t\t\t                <input type=\"hidden\" name=\"id\" id=\"inputId\" value=\"{{post.id}}\" placeholder=\"Id\">\n            \t\t\t                <input type=\"hidden\" name=\"approved\" id=\"inputApproved\" value=\"false\" placeholder=\"Approved\">\n            \t\t\t                <div class=\"form-group\">\n            \t\t\t                    <label for=\"inputAuthor\">Name</label>\n            \t\t\t                    <input type=\"text\" class=\"form-control\" name=\"author\" id=\"inputAuthor\" value=\"\" placeholder=\"Author\">\n            \t\t\t                    <label for=\"inputEmail\">Email (optional)</label>\n            \t\t\t                    <input type=\"text\" class=\"form-control\" name=\"email\" id=\"inputEmail\" value=\"\" placeholder=\"EMail\">\n              \t\t\t                    <label for=\"inputComment\">Please comment using Text/<a href=\"https://en.wikipedia.org/wiki/HTML\">HTML/</a><a href=\"https://daringfireball.net/projects/markdown/syntax\">Markdown</a></label>\n            \t\t\t                    <textarea class=\"form-control\" rows=\"8\" name=\"body\" id=\"inputComment\" data-editor=\"markdown\">{{}}</textarea>\n            \t\t\t                </div>\n            \t\t\t                <button type=\"submit\" class=\"btn btn-primary\">Submit</button>\n            \t\t\t            </form>\n            \t\t\t        </div>\n                            {{/post}}\n                            {{^post}}\n                                <h5>Post not found</h5>\n                            {{/post}}\n                        {{{page.footer}}}\n                        {{{page.deletemodal}}}\n                    </div>\n                </div>\n            </div>\n        </div>\n    </div>\n{{{page.vendors}}}{{{page.scripts}}}\n\n{{{page.codeblockhighlight}}}\n\n<script>\n    $(function () {\n        $('pre code').addClass('hljs');\n        {{#post}}\n        showdown.setFlavor('github');\n        var converter = new showdown.Converter({ extensions: ['codehighlight'] }),\n            blogpost = Mustache.render(converter.makeHtml({{{post.marked.jsonbody}}}), {{{post.marked.jsoncontext}}});\n        $('#showdown-body').html(blogpost);\n\n        $('#poc2go-navbar-edit').css('display', '');\n        $('#poc2go-navbar-edit').attr( \"href\", \"/build/edit/{{post.slug}}{{^post.slug}}{{post.id}}{{/post.slug}}\");\n\n        $('#poc2go-navbar-delete').css('display', '');\n        $('#deleteModalLabel').html('Delete post (<a href=\"/v1/posts/{{post.id}}\">{{post.id}}</a>) - <i>{{{post.marked.striptitle}}}</i>!');\n        $('#deleteModelYes').click(function() {\n            $.ajax({\n                url: '/posts/{{post.slug}}{{^post.slug}}{{post.id}}{{/post.slug}}', method: 'DELETE',\n                complete: function() {\n                    window.location = '/build/site';\n                }\n            });\n        });\n\n        $('#poc2go-navbar-comments').css('display', '');\n\n        {{/post}}\n        $(\"#poc2go-page\").css('display', ''); // Display the page\n        \n        // Submit New comment\n        $(\"#commentForm\").submit(function(e) {\n            postFormAjax(e, \"#commentForm\", \"/build/posts/{{post.slug}}{{^post.slug}}{{post.id}}{{/post.slug}}/comments\");\n        });\n    });\n</script>\n</body>\n</html>\n",
        "output": "str",
        "x": 650,
        "y": 220,
        "wires": [
            [
                "ea2adec3.8e197"
            ]
        ]
    },
    {
        "id": "ea2adec3.8e197",
        "type": "http response",
        "z": "288944c7.a1ceec",
        "name": "http response",
        "statusCode": "",
        "headers": {},
        "x": 900,
        "y": 160,
        "wires": []
    },
    {
        "id": "c9e7d70e.e41e58",
        "type": "comment",
        "z": "288944c7.a1ceec",
        "name": "Display a blog post",
        "info": "This page uses the *Get Post(s)* subflow to get the posts from the blog_posts\nMySQL table. It has the post ID in msg.req.params.postId thus *Get Post(s)*\nsubflow returns that post in _msg.post_ object, which is passed onto\nthe _Edit a post_ web page template which uses Mustache to inject *msg.page* and\nthe post *msg.post* data into the page.\n\nIt also uses the Markup body subflow which takes the text from the body of the\npost and runs it through the *marked* package to markup the body from Markdown\ntext to HTML.\n\nThe web page is created using the standard node-red `template` node with\nMustache which injects the variable data.\n",
        "x": 890,
        "y": 220,
        "wires": []
    },
    {
        "id": "c92f5f46.a7764",
        "type": "http in",
        "z": "288944c7.a1ceec",
        "name": "",
        "url": "/casual/index",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "20181fd.eb061e"
            ]
        ]
    },
    {
        "id": "20181fd.eb061e",
        "type": "subflow:ecf7de04.053ad",
        "z": "288944c7.a1ceec",
        "name": "",
        "x": 430,
        "y": 100,
        "wires": [
            [
                "a8726f1c.d6c65"
            ]
        ]
    },
    {
        "id": "a8726f1c.d6c65",
        "type": "template",
        "z": "288944c7.a1ceec",
        "name": "index",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    {{{page.head}}}\n    {{{page.style}}}\n    <title>{{{config.casual.sitename}}}</title>\n</head>\n\n<body>\n    {{{page.header}}}\n    {{{page.navbar}}}\n    <div class=\"container\">\n\n      <div class=\"bg-faded p-4 my-4\">\n        <!-- Image Carousel -->\n        <div id=\"carouselExampleIndicators\" class=\"carousel slide\" data-ride=\"carousel\">\n          <ol class=\"carousel-indicators\">\n            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"0\" class=\"active\"></li>\n            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"1\"></li>\n            <li data-target=\"#carouselExampleIndicators\" data-slide-to=\"2\"></li>\n          </ol>\n          <div class=\"carousel-inner\" role=\"listbox\">\n            <div class=\"carousel-item active\">\n              <img class=\"d-block img-fluid w-100\" src=\"/casual/img/slide-1.jpg\" alt=\"\">\n              <div class=\"carousel-caption d-none d-md-block\">\n                <h3 id=\"first-carousel-title\" class=\"text-shadow\"></h3>\n                <div id=\"first-carousel-body\"></div>\n              </div>\n            </div>\n            <div class=\"carousel-item\">\n              <img class=\"d-block img-fluid w-100\" src=\"/casual/img/slide-2.jpg\" alt=\"\">\n              <div class=\"carousel-caption d-none d-md-block\">\n                <h3 id=\"second-carousel-title\" class=\"text-shadow\"></h3>\n                <p  id=\"second-carousel-body\" class=\"text-shadow\"></p>\n              </div>\n            </div>\n            <div class=\"carousel-item\">\n              <img class=\"d-block img-fluid w-100\" src=\"/casual/img/slide-3.jpg\" alt=\"\">\n              <div class=\"carousel-caption d-none d-md-block\">\n                <h3 id=\"third-carousel-title\" class=\"text-shadow\"></h3>\n                <p  id=\"third-carousel-body\" class=\"text-shadow\"></p>\n              </div>\n            </div>\n          </div>\n          <a class=\"carousel-control-prev\" href=\"#carouselExampleIndicators\" role=\"button\" data-slide=\"prev\">\n            <span class=\"carousel-control-prev-icon\" aria-hidden=\"true\"></span>\n            <span class=\"sr-only\">Previous</span>\n          </a>\n          <a class=\"carousel-control-next\" href=\"#carouselExampleIndicators\" role=\"button\" data-slide=\"next\">\n            <span class=\"carousel-control-next-icon\" aria-hidden=\"true\"></span>\n            <span class=\"sr-only\">Next</span>\n          </a>\n        </div>\n        <!-- Welcome Message -->\n        <div class=\"text-center mt-4\">\n          <div class=\"text-heading text-muted text-lg\">Welcome To</div>\n          <h1 class=\"my-2\">{{{config.casual.sitename}}}</h1>\n          <div class=\"text-heading text-muted text-lg\">\n            By <strong>PotOfCoffee2Go</strong> and <strong>Start Bootstrap</strong>\n          </div>\n        </div>\n      </div>\n\n      <div class=\"bg-faded p-4 my-4\">\n        <hr class=\"divider\">\n        <h2 id=\"worth-visiting-title\" class=\"text-center text-lg text-uppercase my-0\">Build a website <strong>worth visiting</strong>\n        </h2>\n        <hr class=\"divider\">\n        <img class=\"img-fluid float-left mr-4 d-none d-lg-block\" src=\"/casual/img/intro-pic.jpg\" alt=\"\">\n            <div id=\"worth-visiting-body\"></div>\n      </div>\n\n      <div class=\"bg-faded p-4 my-4\">\n        <hr class=\"divider\">\n        <h2 class=\"text-center text-lg text-uppercase my-0\">Beautiful boxes to\n          <strong>showcase your content</strong>\n        </h2>\n        <hr class=\"divider\">\n        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam soluta dolore voluptatem, deleniti dignissimos excepturi veritatis cum hic sunt perferendis ipsum perspiciatis nam officiis sequi atque enim ut! Velit, consectetur.</p>\n        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam pariatur perspiciatis reprehenderit illo et vitae iste provident debitis quos corporis saepe deserunt ad, officia, minima natus molestias assumenda nisi velit?</p>\n      </div>\n\n    </div>\n    <!-- /.container -->\n    \n    {{{page.footer}}}\n    {{{page.vendors}}}{{{page.functions}}}{{{page.scripts}}}\n\n    <script>\n        $(function () {\n            poc2go.getBlogPost(\"{{config.casual.carousel1post}}\", function(post){\n                var marked = poc2go.markup(post);\n                $('#first-carousel-title').html(marked.title);            \n                $('#first-carousel-body').html(marked.body);            \n            });\n            poc2go.getBlogPost(\"{{config.casual.carousel2post}}\", function(post){\n                var marked = poc2go.markup(post);\n                $('#second-carousel-title').html(marked.title);            \n                $('#second-carousel-body').html(marked.body);            \n            });\n            poc2go.getBlogPost(\"{{config.casual.carousel3post}}\", function(post){\n                var marked = poc2go.markup(post);\n                $('#third-carousel-title').html(marked.title);            \n                $('#third-carousel-body').html(marked.body);            \n            });\n            poc2go.getBlogPost('from-the-bottom', function(post){\n                var marked = poc2go.markup(post);\n                $('#worth-visiting-title').html(marked.title);            \n                $('#worth-visiting-body').html(marked.body);            \n             });\n            \n            $('#worth-visiting-body').click(function(e){\n                if (/\\/casual\\//.test(e.target.pathname) || /\\/posts\\//.test(e.target.pathname)) {\n                    e.preventDefault();\n                    $.ajax({\n                        type: \"GET\",\n                        url: e.target.pathname.replace(/\\/casual\\//, '/posts/'),\n                        success: function(post) {\n                            var marked = poc2go.markup(post);\n                            $('#worth-visiting-title').html(marked.title);            \n                            $('#worth-visiting-body').html(marked.body);            \n                        },\n                        error: function() {\n                            alert(\"Get post \" + postid + \" error\");\n                        }\n                    });\n                }\n            });\n        });\n        \n    </script>\n\n</body>\n</html>\n",
        "output": "str",
        "x": 610,
        "y": 100,
        "wires": [
            [
                "ea2adec3.8e197"
            ]
        ]
    },
    {
        "id": "784d3d9a.1ddab4",
        "type": "comment",
        "z": "288944c7.a1ceec",
        "name": "Site home page",
        "info": "This page uses the *Get Post(s)* subflow to get the posts from the blog_posts\nMySQL table. Since it does not pass the post ID in msg.req.params.postId,\n*Get Post(s)* returns all posts in _msg.posts_ object, which is passed onto\nthe _Blog Home_ web page template which uses Mustache to inject *msg.page* and\n*msg.posts* data into the page.\n\nThe web page is created using the standard node-red `template` node with\nMustache which injects the variable data.\n",
        "x": 880,
        "y": 100,
        "wires": []
    },
    {
        "id": "2a59651e.71538a",
        "type": "subflow:99dcc10f.77084",
        "z": "ecf7de04.053ad",
        "name": "",
        "x": 780,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "38cc8f60.b84ca",
        "type": "http in",
        "z": "288944c7.a1ceec",
        "name": "",
        "url": "/casual/blog",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "84d57a2d.b74688"
            ]
        ]
    },
    {
        "id": "84d57a2d.b74688",
        "type": "subflow:ecf7de04.053ad",
        "z": "288944c7.a1ceec",
        "name": "",
        "x": 430,
        "y": 160,
        "wires": [
            [
                "a373335b.3fdc8"
            ]
        ]
    },
    {
        "id": "a373335b.3fdc8",
        "type": "template",
        "z": "288944c7.a1ceec",
        "name": "blog",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    {{{page.head}}}\n    {{{page.style}}}\n    <title>{{{config.casual.sitename}}}</title>\n</head>\n\n<body>\n    {{{page.header}}}\n    {{{page.navbar}}}\n    <div class=\"container\">\n\n      <div class=\"bg-faded p-4 my-4\">\n        <div class=\"card card-inverse\">\n          <img class=\"card-img img-fluid w-100\" src=\"img/slide-1.jpg\" alt=\"\">\n          <div class=\"card-img-overlay bg-overlay\">\n            <h2 id=\"showdown-title-1\" class=\"card-title text-shadow text-white text-uppercase mb-0\"></h2>\n            <h4 id=\"showdown-date-1\" class=\"text-shadow text-white\"></h4>\n            <div id=\"showdown-body-1\" class=\"lead card-text text-shadow text-white w-75 d-none d-lg-block\"></div>\n            <a href=\"#\" class=\"btn btn-secondary\">Read More</a>\n          </div>\n        </div>\n      </div>\n\n      <div class=\"bg-faded p-4 my-4\">\n        <div class=\"card card-inverse\">\n          <img class=\"card-img img-fluid w-100\" src=\"img/slide-2.jpg\" alt=\"\">\n          <div class=\"card-img-overlay bg-overlay\">\n            <h2 id=\"showdown-title-2\" class=\"card-title text-shadow text-white text-uppercase mb-0\"></h2>\n            <h4 id=\"showdown-date-2\" class=\"text-shadow text-white\"></h4>\n            <div id=\"showdown-body-2\" class=\"lead card-text text-shadow text-white w-75 d-none d-lg-block\"></div>\n            <a href=\"#\" class=\"btn btn-secondary\">Read More</a>\n          </div>\n        </div>\n      </div>\n\n      <div class=\"bg-faded p-4 my-4\">\n        <div class=\"card card-inverse\">\n          <img class=\"card-img img-fluid w-100\" src=\"img/slide-3.jpg\" alt=\"\">\n          <div class=\"card-img-overlay bg-overlay\">\n            <h2 id=\"showdown-title-3\" class=\"card-title text-shadow text-white text-uppercase mb-0\"></h2>\n            <h4 id=\"showdown-date-3\" class=\"text-shadow text-white\"></h4>\n            <div id=\"showdown-body-3\" class=\"lead card-text text-shadow text-white w-75 d-none d-lg-block\"></div>\n            <a href=\"#\" class=\"btn btn-secondary\">Read More</a>\n          </div>\n        </div>\n      </div>\n\n      <!-- Pagination -->\n      <div class=\"bg-faded p-4 my-4\">\n        <ul class=\"pagination justify-content-center mb-0\">\n          <li class=\"page-item\">\n            <a class=\"page-link\" href=\"#\">&larr; Older</a>\n          </li>\n          <li class=\"page-item disabled\">\n            <a class=\"page-link\" href=\"#\">Newer &rarr;</a>\n          </li>\n        </ul>\n      </div>\n\n    </div>\n    <!-- /.container -->\n\n    {{{page.footer}}}\n    {{{page.vendors}}}{{{page.functions}}}{{{page.scripts}}}\n\n    <script>\n    \n    function loadPostSummaries(threePostSlugs) {\n        for(let i=0; i<3; i++) {\n            let summaryNbr = i + 1;\n            poc2go.getBlogPost(threePostSlugs[i], function(post) {\n                var marked = poc2go.markup(post);\n                $('#showdown-title-' + summaryNbr).html(marked.title);            \n                $('#showdown-date-' + summaryNbr).html('( ' + marked.lastupdated + ' )');\n\n                var text = striptags(marked.body, ['p']);\n                var nrw = 80;                       // the number of words we want to extract\n                var rgxwords = new RegExp('([^ ]*[ ]{0,1}){1,'+nrw+'}', 'g'); // regexp for specified number of spaces\n                text = text.replace(/\\s\\s+/g, ' '); // replace multiple whitespaces with single space\n                var txt = text.match(rgxwords)[0];  // get the substring with \"nrw\" number of words\n\n                $('#showdown-body-' + summaryNbr).html(txt + ' ...');            \n            });\n        }\n    }\n\n    $(function () {\n        loadPostSummaries(['what-is-node-red', 'node-red-host-server', 'from-the-bottom']);\n    });\n       \n\n    \n\n    </script>\n  </body>\n\n</html>\n",
        "output": "str",
        "x": 610,
        "y": 160,
        "wires": [
            [
                "ea2adec3.8e197"
            ]
        ]
    },
    {
        "id": "1f95ac9b.e3c9a3",
        "type": "template",
        "z": "f7bd7a0f.809288",
        "name": "Functions",
        "field": "page.functions",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!-- Libraries to markup posts -->\n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js\"></script>\n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js\"></script>\n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js\"></script>\n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/showdown/1.7.6/showdown.min.js\"></script>\n\n<!-- Strip HTML tags - sanitize post title, author, etc. -->\n<script src=\"/vendor/ericnorris/striptags.js\"></script>\n\n\n<script>\n// Showdown code highlight script\nshowdown.extension('codehighlight', function() {\n  function htmlunencode(text) {\n    return (\n      text\n        .replace(/&amp;/g, '&')\n        .replace(/&lt;/g, '<')\n        .replace(/&gt;/g, '>')\n      );\n  }\n  return [\n    {\n      type: 'output',\n      filter: function (text, converter, options) {\n        // use new shodown's regexp engine to conditionally parse codeblocks\n        var left  = '<pre><code\\\\b[^>]*>',\n            right = '</code></pre>',\n            flags = 'g',\n            replacement = function (wholeMatch, match, left, right) {\n              // unescape match to prevent double escaping\n              match = htmlunencode(match);\n              return left + hljs.highlightAuto(match).value + right;\n            };\n        return showdown.helper.replaceRecursiveRegExp(text, replacement, left, right, flags);\n      }\n    }\n  ];\n});\n\n// PotOfCoffee2Go Namespace\nvar poc2go = {\n    converter: new showdown.Converter({ extensions: ['codehighlight'] }),\n    render: function(text, context) {\n        return Mustache.render(poc2go.converter.makeHtml(text), context);\n    },\n    markup: function(post) {\n        return {\n            title: poc2go.render(post.title, post.context),\n            author: poc2go.render(post.author, post.context),\n            body: poc2go.render(post.body + '\\n' + post.locallinks, post.context),\n            lastupdated: moment.utc(post.updated, 'YYYY-MM-DD HH:mm:ss').local().fromNow()\n        }\n    },\n\n    getBlogPost: function getBlogPost(postid, cb) {\n        $.ajax({\n            type: \"GET\",\n            url: '/posts/' + postid,\n            success: function(post) {\n                post.context = post.context ? JSON.parse(post.context) : {};\n                if (cb) cb(post);\n            },\n            error: function() {\n                alert(\"Get post \" + postid + \" error\");\n            }\n        });\n    },\n    \n    postForm: function postForm(e, formId, url) {\n        var datastring = $(formId).serialize();\n        $.ajax({\n            type: \"POST\",\n            url: url,\n            data: datastring,\n            success: function(payload) {\n                window.location = payload.nextpage;\n            },\n            error: function() {\n                alert(\"New comment submit error\");\n                window.location = payload.nextpage;\n            }\n        });\n        e.preventDefault(); // prevent default submit behavior\n    }\n\n};\n\n$(function () {\n    $('pre code').addClass('hljs');\n    showdown.setFlavor('github');\n});\n</script>\n\n",
        "output": "str",
        "x": 600,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "c7290a57.980b38",
        "type": "function",
        "z": "8c3ec654.d10248",
        "name": "Select post data",
        "func": "global.get(\"db\").getPosts(msg);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 100,
        "wires": [
            [
                "e4253f74.b6de1"
            ]
        ]
    },
    {
        "id": "18f7900d.5b235",
        "type": "template",
        "z": "99dcc10f.77084",
        "name": "Style",
        "field": "page.style",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n<style>\n\n</style>\n",
        "output": "str",
        "x": 510,
        "y": 80,
        "wires": [
            [
                "aa1d0ce.49674f"
            ]
        ]
    },
    {
        "id": "d03e4b54.515198",
        "type": "template",
        "z": "c330e687.8faa28",
        "name": "Style",
        "field": "page.style",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n<style>\n    body {background-color: aliceblue;}\n    .page-header {background-color: #e3f1ff}\n    /* p, li {font-size: 1.2em;} */\n    pre code {white-space: pre;overflow-x: auto; background:ghostwhite;}\n    blockquote {font-size: 1em;}\n    .btn-outline-primary {margin: 0 .5rem 0 0;}\n    #menu-toggle {float:left; text-decoration: none;}\n    .know-more {font-size: .8em;}\n    .sb-icon {background: white;}\n    .fa {display: inline;}\n</style>\n",
        "output": "str",
        "x": 510,
        "y": 60,
        "wires": [
            [
                "20ce85d6.fe687a"
            ]
        ]
    },
    {
        "id": "37c89d3.b0a0062",
        "type": "function",
        "z": "f7bd7a0f.809288",
        "name": "Data process",
        "func": "// If all posts sort them by date updated descending\nif (msg.posts) {\n        msg.posts.sort(function(a,b) {return a.updated < b.updated ? 1 : a.updated > b.updated ? -1 : 0;});\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 40,
        "wires": [
            [
                "c96d370c.ca0c88"
            ]
        ]
    }
]